= form_for @subcategory, url: {:action=> (@subcategory.new_record? ? 'create' : 'update')} do |f|
  - if @subcategory.errors.any?
    #error_explanation
      %h2= "Возникли #{@subcategory.errors.count} #{Russian.p(@subcategory.errors.count, "ошибка", "ошибки", "ошибок")} при сохранении"
      %ul
        - @subcategory.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field.noinput
    = f.label :image
    %br
    = image_tag(@subcategory.image_url) if @subcategory.image?
    = f.file_field :image
    = f.hidden_field :image_cache
  .actions
    = f.button("Сохранить", class:"button fa-button fa-plus")
