- provide(:title, @category.name)
%h1 Подкатегории
%ul
  - @subcategories.each do |subcategory|
    %li= link_to subcategory.name, se_shop.admin_category_subcategory_path(@category, subcategory)
= link_to "Добавить подкатегорию", se_shop.new_admin_category_subcategory_path(@category)