- provide(:title, "Товары подкатегории #{@subcategory.name}")
%h1= "Товары подкатегории #{@subcategory.name}"
- if @items
  .itemsGrid.flex
    =render partial: 'se_shop/admin/layouts/items', locals: {items: @items}
= link_to "Назад к категории", se_shop.admin_shop_category_path(@shop, @subcategory.category_id), class: "fa fa-arrow-left"
= link_to "Добавить товар", se_shop.admin_new_shop_item_path('subcategory', @subcategory), class: "fa fa-plus"
= link_to "Удалить подкатегорию", se_shop.admin_shop_category_subcategory_path(@shop, @category, @subcategory), class: "fa fa-trash-o", :method => :delete, :data => { :confirm => "Вы уверены?"}
= link_to "Редактировать подкатегорию", se_shop.edit_admin_shop_category_subcategory_path(@shop, @category, @subcategory), class: "fa fa-pencil"