.single-item-wrapper
  %h1= @item.name
  %img= image_tag(@item.image_url) if @item.image?
  %p= "Цена: #{@item.price.to_i} р."
  %div= "Краткое описание: #{@item.shortdescription}" if @item.shortdescription?
  %div= "Полное описание: #{@item.description}" if @item.description?
  /= link_to "Удалить товар", se_shop.item_path(@item), :method => :delete, :data => { :confirm => "Вы уверены?"}
  /= link_to "Редактировать товар", se_shop.edit_item_path(@item)
  - if defined? @item.parent.category_id
    =link_to "Назад к подкатегории", @path, class: "fa fa-arrow-left"
  - else
    =link_to "Назад к категории", @path, class: "fa fa-arrow-left"