.center-wrapper
  %h1 Повторно прислать инструкции для подтверждения регистрации
  .flex.flex-center
    .form-box
      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true
        .actions
          = f.button "Пришлите мне инструкции для подтверждения регистрации"
      = render "devise/shared/links"
