.center-wrapper
  %h1   Редактирование #{resource_name.to_s.humanize}
  .flex.flex-center
    .form-box
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Ожидается подтверждение для: #{resource.unconfirmed_email}
        .field
          = f.label :password
          %i (закройте форму, если не хотите вносить изменения)
          %br/
          = f.password_field :password, autocomplete: "off"
        .field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "off"
        .field
          = f.label :current_password
          %i (для подтверждения внесенных изменений введите Ваш текущий пароль)
          %br/
          = f.password_field :current_password, autocomplete: "off"
        .actions
          = f.button "Обновить", class:"button fa-button fa-plus"
      %h3 Аннулировать мой аккаунт
      %p
        Недовольны? #{button_to "Аннулировать мой аккаунт", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete}
      = link_to "Back", :back
