.center-wrapper
  -if User.any?
    %h1 Зарегистрироваться
  -else
    %h1 Администраторов еще не зарегистрировано. Будьте первым!
  .flex.flex-center
    .form-box
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          = f.label :email
          = f.email_field :email
        .field
          - if @validatable
            %em
              (#{@minimum_password_length} characters minimum)
          = f.label :password
          = f.password_field :password, :autocomplete => :off
        .field
          = f.label :password_confirmation
          = f.password_field :password_confirmation, :autocomplete => :off
        .actions
          = f.button "Зарегистрироваться", class:"button fa-button fa-check"
      = render "devise/shared/links"
