/* line 1, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/contacts.scss */
.filials.contact-page {
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 0;
  margin-top: -20px;
}
/* line 6, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/contacts.scss */
.filials.contact-page .emblemBlock {
  margin-bottom: 30px;
}

/* line 10, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/contacts.scss */
.map-box {
  width: 100%;
  max-height: 900px;
  height: 100vh;
  position: relative;
}
/* line 15, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/contacts.scss */
.map-box #map {
  width: 100%;
  height: 100%;
}
/* line 19, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/contacts.scss */
.map-box .shop-info {
  width: 300px;
  height: 250px;
  position: absolute;
  background-color: white;
  left: 150px;
  top: 150px;
  z-index: 100;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
/* line 32, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/contacts.scss */
.map-box .shop-info p {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 37, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/contacts.scss */
.map-box .shop-info.exist {
  opacity: 1;
}
