/* line 1, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/error.scss */
.error, .success, .fail {
  text-align: center;
}
/* line 3, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/error.scss */
.error .alert-main-box, .success .alert-main-box, .fail .alert-main-box {
  width: 500px;
  margin: 150px auto;
  padding: 40px;
  background-color: white;
}
/* line 9, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/error.scss */
.error h1, .success h1, .fail h1 {
  font-size: 3em;
  font-weight: 400;
}
/* line 13, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/error.scss */
.error h1, .error h2, .success h1, .success h2, .fail h1, .fail h2 {
  margin-bottom: 40px;
}
