/* line 1, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/error.scss */
.error {
  width: 60%;
  text-align: left;
}
/* line 4, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/error.scss */
.error h1 {
  font-size: 3em;
  font-weight: 400;
}
/* line 8, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/error.scss */
.error h1, .error h2 {
  margin-bottom: 40px;
}
