/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* line 3, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/footer.scss */
.footer {
  width: 100%;
  height: 200px;
  background-color: #414141;
  position: relative;
}
/* line 8, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/footer.scss */
.footer .toTop {
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: #414141;
  border-radius: 50%;
  top: -24px;
  margin-left: 50%;
  left: -30px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
/* line 22, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/footer.scss */
.footer .toTop::before {
  position: relative;
  top: 4px;
  color: #fff;
  font-size: 26px;
  z-index: 2;
}
/* line 29, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/footer.scss */
.footer .toTop::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 24px;
  display: block;
  content: "";
  z-index: 1;
  background-color: transparent;
  transition: opacity 0.3s;
  background-color: #414141;
  background-image: -webkit-gradient(linear, 0deg, from(#414141), to(#5b5b5b));
  background-image: -webkit-linear-gradient(0deg, #414141, #5b5b5b);
  background-image: -moz-linear-gradient(0deg, #414141, #5b5b5b);
  background-image: -ms-linear-gradient(0deg, #414141, #5b5b5b);
  background-image: -o-linear-gradient(0deg, #414141, #5b5b5b);
  background-image: linear-gradient(0deg, #414141, #5b5b5b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#414141', endColorStr='#5b5b5b');
  opacity: 0;
}
/* line 44, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/footer.scss */
.footer .toTop:hover::after {
  opacity: 1;
}
/* line 49, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/footer.scss */
.footer .footerContainer {
  -webkit-justify-content: space-between;
  -khtml-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -khtml-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  height: 100%;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #414141;
  position: relative;
  z-index: 2;
}
/* line 58, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/footer.scss */
.footer .footerContainer div:nth-child(odd) {
  -webkit-flex-basis: 300px;
  -khtml-flex-basis: 300px;
  -moz-flex-basis: 300px;
  -ms-flex-basis: 300px;
  -o-flex-basis: 300px;
  flex-basis: 300px;
}
/* line 65, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/footer.scss */
.footer .navLinks {
  text-align: center;
  -webkit-flex-grow: 3;
  -khtml-flex-grow: 3;
  -moz-flex-grow: 3;
  -ms-flex-grow: 3;
  -o-flex-grow: 3;
  flex-grow: 3;
  font-size: 14px;
}
/* line 69, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/footer.scss */
.footer .navLinks a {
  color: #fff;
  margin-right: 30px;
  text-transform: uppercase;
}
/* line 73, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/footer.scss */
.footer .navLinks a:last-child {
  margin-right: 0;
}
/* line 78, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/footer.scss */
.footer .contactContainer {
  color: #fff;
  font-size: 18px;
  text-align: right;
}
/* line 82, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/footer.scss */
.footer .contactContainer span.small-text {
  font-size: 14px;
}
/* line 85, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/footer.scss */
.footer .contactContainer .socialBlock {
  margin-top: 5px;
}
/* line 87, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/footer.scss */
.footer .contactContainer .socialBlock .socialLink {
  font-size: 12px;
}
/* line 89, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/footer.scss */
.footer .contactContainer .socialBlock .socialLink a {
  color: #fff;
}
/* line 95, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/footer.scss */
.footer .paysto {
  position: absolute;
  bottom: 20px;
  right: 0;
  font-size: 10px;
}
/* line 100, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/footer.scss */
.footer .paysto a {
  color: #BCBCBC;
}
