/* line 1, /home/stepan/site/DailyDiner/app/assets/stylesheets/header.scss */
.header {
  width: 100%;
  height: 110px;
  position: relative;
  display: flex;
}
/* line 6, /home/stepan/site/DailyDiner/app/assets/stylesheets/header.scss */
.header .logoContainer {
  width: 290px;
}
/* line 8, /home/stepan/site/DailyDiner/app/assets/stylesheets/header.scss */
.header .logoContainer .shopLogo {
  display: block;
  height: 100%;
  width: 160px;
  margin-top: 30px;
  margin-left: 45px;
}
/* line 16, /home/stepan/site/DailyDiner/app/assets/stylesheets/header.scss */
.header .mainNav {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  height: 100%;
}
/* line 23, /home/stepan/site/DailyDiner/app/assets/stylesheets/header.scss */
.header .mainNav li {
  margin-right: 25px;
}
/* line 25, /home/stepan/site/DailyDiner/app/assets/stylesheets/header.scss */
.header .mainNav li a {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.45px;
  text-transform: uppercase;
}
/* line 31, /home/stepan/site/DailyDiner/app/assets/stylesheets/header.scss */
.header .mainNav li a:hover {
  color: #499bd3;
}
