/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* line 4, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.headerPhotos {
  position: relative;
  background-color: white;
  overflow: hidden;
  height: 300px;
  width: 100%;
}
/* line 10, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.headerPhotos .photo-head {
  overflow: hidden;
  display: flex;
  width: 100%;
  position: absolute;
}
/* line 16, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.headerPhotos .link-to-edit-header {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* line 21, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.headerPhotos .photo-box {
  width: 33%;
  height: 305px;
  line-height: 305px;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  display: none;
}
/* line 32, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.headerPhotos .photo-box.showPhoto {
  display: block;
  margin-right: 10px;
}
/* line 35, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.headerPhotos .photo-box.showPhoto:nth-child(4) {
  margin-right: 0;
}
/* line 40, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.headerPhotos .photo-box:last-child {
  margin-right: 0;
}

/* line 45, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.filials {
  padding-top: 40px;
  padding-bottom: 50px;
  margin-bottom: 40px;
  background-color: white;
}
/* line 50, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.filials .emblemBlock {
  margin-bottom: 70px;
  position: relative;
}
/* line 54, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.filials .emblemBlock a img {
  -webkit-filter: grayscale(100%);
  -khtml-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  transition: opacity 1s;
}
/* line 60, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.filials .emblemBlock a.active img, .filials .emblemBlock a:hover img {
  -webkit-filter: grayscale(0%);
  -khtml-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}
/* line 65, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.filials .emblemBlock a.cinnamon {
  position: relative;
  top: 21px;
}
/* line 70, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.filials .emblemBlock .lenta {
  display: inline-block;
  position: relative;
  left: 50%;
}
/* line 74, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.filials .emblemBlock .lenta .flex {
  align-items: center;
}
/* line 77, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.filials .emblemBlock .lenta a {
  margin-right: 45px;
}
/* line 79, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.filials .emblemBlock .lenta a:last-child {
  margin-right: 0;
}
/* line 87, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.filials .motto {
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin-bottom: 35px;
}
/* line 93, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.filials .lineSeparator {
  justify-content: center;
}

/* line 98, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.menuContainer .menuTitle {
  font-size: 36px;
  color: #1a537b;
  text-align: center;
  line-height: 46px;
  margin-bottom: 45px;
}
/* line 105, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.menuContainer .contact-phone {
  display: block;
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  margin-bottom: 40px;
}
/* line 112, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/home.scss */
.menuContainer .fullMenuLink {
  margin-top: 20px;
  padding-bottom: 40px;
  justify-content: center;
}
