/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* line 3, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.homeItems-wrapper {
  margin: 0 auto;
  width: 1260px;
}
/* line 6, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.homeItems-wrapper h2.cat-name {
  color: #1a537b;
  font-size: 36px;
  font-weight: 400;
  margin-left: 60px;
  margin-top: 5px;
  margin-bottom: 15px;
}
/* line 13, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.homeItems-wrapper h2.cat-name:first-child {
  margin-top: 0px;
}

/* line 18, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid {
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* line 21, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox {
  width: 400px;
  height: 250px;
  position: relative;
  margin-bottom: 55px;
  margin-right: 20px;
  /*margin: 20px 2.5% 0 0;*/
}
/* line 28, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox.noOne .amount {
  display: none;
}
/* line 32, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox .amount {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  background-color: #479ad4;
  right: -8px;
  transform: rotate(-45deg);
  z-index: 10;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 0px 2px #479ad4;
}
/* line 44, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox .amount span {
  width: 100%;
  height: 100%;
  line-height: 20px;
  display: block;
  color: white;
  font-size: 12px;
  transform: rotate(45deg);
  text-align: center;
}
/* line 57, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox:last-child {
  margin-right: 0;
}
/* line 60, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox > * {
  z-index: 2;
  position: relative;
}
/* line 64, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox .itemGradient {
  background-color: transparent;
  background-image: -webkit-gradient(linear, 0deg, from(transparent), to(rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.5));
  background-image: -moz-linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.5));
  background-image: -ms-linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.5));
  background-image: -o-linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.5));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='transparent', endColorStr='rgba(0, 0, 0, 0.5)');
  opacity: 0;
  transition: opacity 0.5s;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 76, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox .itemBox_name {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  margin: 0 2%;
  background-image: url(/assets/namebg-31bdd7ac7571c00ed8885e533f8fd8b591f5a23193e24273f269c2d9e118ac85.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 24px;
  color: white !important;
  padding: 23px 0 0 35px;
  box-sizing: border-box;
  transition: none;
}
/* line 92, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox .itemBox_name .long {
  display: block;
  margin: -7px 0 0 -10px;
  position: relative;
  width: 90%;
  font-size: 0.8em;
}
/* line 99, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox .itemBox_name:hover {
  background-position: 0 -100px;
}
/* line 104, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox:nth-child(odd) .itemBox_name {
  background-position: 100% 0;
}
/* line 106, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox:nth-child(odd) .itemBox_name:hover {
  background-position: 100% -100px;
}
/* line 111, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox .itemBox_price {
  height: 60px;
  width: 154px;
  text-align: right;
  font-size: 24px;
  color: #499BD4;
  position: absolute;
  top: 5%;
  right: 0;
  background-image: url(/assets/whitePaint-b7c7a19b2f97a7ecad50841bfc3317955246e96d92884080341122cd89ab581e.png);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 19px 5px 0 0;
}
/* line 126, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox .itemCounter {
  width: 170px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin-left: -85px;
  margin-top: -20px;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.5s;
  -khtml-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 139, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox .item-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: white;
  text-align: center;
}
/* line 149, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox .item-img img {
  width: 100%;
  min-height: 100%;
}
/* line 153, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox .item-img .portain {
  height: 100%;
  width: auto;
}
/* line 159, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox:hover .itemCounter {
  opacity: 1;
}
/* line 162, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.itemsGrid .itemBox:hover .itemGradient {
  opacity: 1;
}

/* line 168, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.overlay-item {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

/* line 180, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.modal-window {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  position: fixed;
  z-index: 10001;
}

/* line 190, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.item-open {
  min-height: 200px;
  max-height: 500px;
  max-width: 880px;
  background: white;
  overflow: hidden;
  border-radius: 4px;
}

/* line 199, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.item-view {
  display: flex;
  max-height: 500px;
}
/* line 202, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.item-view .item-image {
  height: 500px;
  width: 600px;
  text-align: center;
}
/* line 207, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.item-view .bigImg {
  position: relative;
}
/* line 209, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.item-view .bigImg.portain {
  height: 500px;
  width: auto !important;
}
/* line 213, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.item-view .bigImg.soLong {
  margin: 20px 150px;
  height: 460px;
}
/* line 218, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.item-view .item-info {
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #31271E;
  text-align: center;
  color: #E2E2E2;
}
/* line 225, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.item-view .item-info h1, .item-view .item-info h2 {
  color: white;
  width: 100%;
  text-align: center;
  display: block;
}
/* line 231, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.item-view .item-info h1 {
  font-size: 1.3em;
}
/* line 234, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.item-view .item-info .ruble {
  color: #256693;
  font-size: 1.3em;
}
/* line 238, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.item-view .item-info .measurer {
  margin-right: 15px;
}
/* line 241, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.item-view .item-info .description {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  padding-top: 10px;
  font-size: 0.9em;
  margin-top: 15px;
  color: #CECECE;
}

/* line 250, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.close-button {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  right: -60px;
  top: -30px;
  cursor: pointer;
}
/* line 259, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.close-button i {
  color: white;
  font-size: 30px;
  font-weight: 200;
  transition: color 0.3s;
}
/* line 266, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/item.scss */
.close-button:hover i {
  color: #256693;
}
