/* line 1, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/login.scss */
.loginBox {
  display: block;
  margin: 40% auto 0 auto;
  max-width: 250px;
  width: 160px;
}
/* line 7, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/login.scss */
.loginBox form > * {
  width: 100%;
  margin-top: 10px;
}
