@media screen and (max-width: 1500px) {
  /* line 31, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/media.scss */
  .littleItem .itemBox {
    width: 280px;
    height: 175px;
    margin-right: 15px;
  }
  /* line 35, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/media.scss */
  .littleItem .itemBox:last-child {
    margin-right: 0;
  }
  /* line 38, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/media.scss */
  .littleItem .itemBox .itemBox_name {
    width: 100%;
    height: 56px;
    background-image: url(/assets/name-bg-little-579436a4f661e23485911e42e833b6e91a321676f32e60bbd1639b1b556064a3.png);
    background-repeat: no-repeat;
    font-size: 16.8px;
    padding: 19px 0 0 35px;
  }
  /* line 45, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/media.scss */
  .littleItem .itemBox .itemBox_name:hover {
    background-position: 0 -70px;
  }
  /* line 50, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/media.scss */
  .littleItem .itemBox:nth-child(odd) .itemBox_name {
    background-position: 100% 0;
  }
  /* line 52, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/media.scss */
  .littleItem .itemBox:nth-child(odd) .itemBox_name:hover {
    background-position: 100% -70px;
  }
  /* line 57, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/media.scss */
  .littleItem .itemBox .itemBox_price {
    height: 42px;
    width: 107.8px;
    font-size: 16.8px;
    top: 5%;
    background-image: url(/assets/whitePaint-b7c7a19b2f97a7ecad50841bfc3317955246e96d92884080341122cd89ab581e.png);
    padding: 14px 5px 0 0;
  }
  /* line 65, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/media.scss */
  .littleItem .itemBox .itemCounter {
    width: 170px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-left: -85px;
    margin-top: -20px;
  }
}
