/* line 1, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.no-padding {
  padding: 0px !important;
}

/* line 4, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.no-margin {
  margin: 0 !important;
}

/* line 7, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.center-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
}

/* line 17, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.relative {
  position: relative;
}

/* line 22, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.ruble {
  padding-right: 0.3em;
}

/* line 25, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.text-white {
  color: #fff;
}

/* line 28, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.text-center {
  text-align: center;
}

/* line 31, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.text-right {
  text-align: right;
}

/* line 34, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 38, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.light-text {
  color: #d3d3d3;
}

/* line 41, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.f-little {
  font-size: 0.7em;
}

/* line 44, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.small {
  font-size: 0.5em;
}

/* line 47, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.bl-tack {
  color: #494949;
}

/* line 53, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.width-100p {
  width: 100% !important;
}

/* line 56, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.width-50 {
  width: 50px;
}

/* line 59, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.flex {
  display: flex;
}

/* line 62, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.space-between {
  justify-content: space-between;
}

/* line 65, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.space-around {
  justify-content: space-around;
}

/* line 68, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.flex-center {
  justify-content: center;
}

/* line 71, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.flex-end {
  justify-content: flex-end;
}

/* line 77, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.overflow-hidden {
  overflow: hidden;
}

/* line 80, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.box {
  border-top: 1px solid transparent;
}

/* line 87, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.margin-top-10 {
  margin-top: 10px;
}

/* line 90, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.margin-bottom-10 {
  margin-bottom: 10px;
}

/* line 94, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.margin-vertical-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 98, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.margin-vertical-07em {
  margin-top: 0.7em;
  margin-bottom: 0.7rem;
}

/* line 102, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.margin-vertical-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
