/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* line 2, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.no-padding {
  padding: 0 !important;
}

/* line 5, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.no-margin {
  margin: 0 !important;
}

/* line 8, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.center-box {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-justify-content: center;
  -khtml-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  height: 100vh;
  -webkit-flex-wrap: wrap;
  -khtml-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 18, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.relative {
  position: relative;
}

/* line 23, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.ruble {
  padding-right: 0.3em;
}

/* line 26, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.text-white {
  color: #fff;
}

/* line 29, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.text-center {
  text-align: center;
}

/* line 32, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.text-right {
  text-align: right;
}

/* line 35, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 39, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.light-text {
  color: #d3d3d3;
}

/* line 42, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.f-little {
  font-size: 0.7em;
}

/* line 45, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.small {
  font-size: 0.5em;
}

/* line 48, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.bl-tack {
  color: #494949;
}

/* line 54, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.width-100p {
  width: 100% !important;
}

/* line 57, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.width-50 {
  width: 50px;
}

/* line 60, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* line 63, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.space-between {
  -webkit-justify-content: space-between;
  -khtml-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}

/* line 66, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.space-around {
  -webkit-justify-content: space-around;
  -khtml-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
}

/* line 69, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.flex-center {
  -webkit-justify-content: center;
  -khtml-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}

/* line 72, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.flex-end {
  -webkit-justify-content: flex-end;
  -khtml-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
}

/* line 78, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.overflow-hidden {
  overflow: hidden;
}

/* line 81, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.box {
  border-top: 1px solid transparent;
}

/* line 88, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.margin-top-10 {
  margin-top: 10px;
}

/* line 91, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.margin-bottom-10 {
  margin-bottom: 10px;
}

/* line 95, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.margin-vertical-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 99, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.margin-vertical-07em {
  margin-top: 0.7em;
  margin-bottom: 0.7rem;
}

/* line 103, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/middle.scss */
.margin-vertical-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
