/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* line 5, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/notice.scss */
.alert {
  position: fixed;
  right: 20px;
  top: 20px;
  display: inline-block;
  padding: 0.4em;
  color: #fff;
  font-size: 1em;
  z-index: 10000;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 15, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/notice.scss */
.alert.alert-error {
  background-color: #E62239;
}
/* line 18, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/notice.scss */
.alert.alert-notice {
  background-color: #2DB56F;
}

/* line 23, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/notice.scss */
#notice {
  color: #2DB56F;
}

/* line 27, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/notice.scss */
input.error {
  -webkit-box-shadow: 2px 2px 1px #E62239;
  -khtml-box-shadow: 2px 2px 1px #E62239;
  -moz-box-shadow: 2px 2px 1px #E62239;
  -ms-box-shadow: 2px 2px 1px #E62239;
  -o-box-shadow: 2px 2px 1px #E62239;
  box-shadow: 2px 2px 1px #E62239;
}

/* line 30, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/notice.scss */
label.error {
  color: #E62239 !important;
}

/* line 33, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/notice.scss */
#error_explanation {
  width: 450px;
  border: 2px solid #E62239;
  padding: 7px;
  padding-bottom: 0;
  color: #333;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 42, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/notice.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #E62239;
  color: #fff;
}
/* line 53, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/notice.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
