@charset "UTF-8";
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* line 5, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos {
  -webkit-justify-content: space-between;
  -khtml-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
/* line 7, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box {
  width: 33%;
  margin-right: 10px;
  height: 100%;
  line-height: 305px;
  transition: background-color 0.5s;
  background-color: #dbdbdb;
  position: relative;
}
/* line 15, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box .setSize {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s;
}
/* line 26, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box.success i {
  z-index: 100;
  position: relative;
}
/* line 29, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box.success i::before {
  color: #3BB677;
  content: "" !important;
}
/* line 36, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box.error i {
  z-index: 100;
  position: relative;
}
/* line 39, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box.error i::before {
  color: #D9113D;
  content: "" !important;
}
/* line 45, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box:last-child {
  margin-right: 0;
}
/* line 48, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box.active {
  background-color: #c9c9c9;
}
/* line 51, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box.hover {
  background-color: #b5b5b5;
}
/* line 53, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box.hover .setSize {
  opacity: 0.5;
}

/* line 59, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -khtml-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 300px;
  padding: 50px;
  width: 100%;
  -webkit-justify-content: flex-start;
  -khtml-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
/* line 68, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo {
  width: 190px;
  height: 190px;
  overflow: hidden;
  display: block;
  margin-right: 10px;
  position: relative;
  transition: width 0.5s;
  margin-bottom: 10px;
}
/* line 79, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo.draggable {
  z-index: 10;
}
/* line 82, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo .photo-overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s, background 0.5s;
  background-color: rgba(219, 219, 219, 0);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  line-height: 190px;
}
/* line 94, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo .setSize {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
/* line 101, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo .delete-link {
  font-size: 26px;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
  color: white;
  transition: color 0.3s;
}
/* line 109, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo .delete-link:hover {
  color: #D9113D;
}
/* line 114, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo.hover .photo-overlay {
  opacity: 1;
  background-color: rgba(219, 219, 219, 0.3);
}
/* line 121, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo.dragActive .delete-link {
  display: none;
}
/* line 124, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo.dragActive .photo-overlay {
  opacity: 1;
  z-index: 20;
  background-color: rgba(219, 219, 219, 0.7);
}
/* line 128, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo.dragActive .photo-overlay i {
  opacity: 0;
}
/* line 138, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo.add-photo {
  position: relative;
  transition: background-color 0.5s;
  background-color: #dbdbdb;
  line-height: 190px;
}
/* line 143, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo.add-photo:hover {
  background-color: #b5b5b5;
}

/* line 154, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.i-item {
  text-align: center;
  font-size: 80px;
}
/* line 157, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.i-item i {
  color: white;
}
