@charset "UTF-8";
/* line 4, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos {
  justify-content: space-between;
}
/* line 6, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box {
  width: 33%;
  margin-right: 10px;
  height: 305px;
  line-height: 305px;
  transition: background-color 0.5s;
  background-color: #dbdbdb;
  position: relative;
}
/* line 14, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box .setSize {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s;
}
/* line 24, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box.success i {
  z-index: 100;
  position: relative;
}
/* line 27, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box.success i::before {
  color: #3BB677;
  content: "" !important;
}
/* line 34, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box.error i {
  z-index: 100;
  position: relative;
}
/* line 37, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box.error i::before {
  color: #D9113D;
  content: "" !important;
}
/* line 43, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box:last-child {
  margin-right: 0;
}
/* line 46, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box.active {
  background-color: #c9c9c9;
}
/* line 49, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box.hover {
  background-color: #b5b5b5;
}
/* line 51, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box.hover .setSize {
  opacity: 0.5;
}

/* line 57, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container {
  display: flex;
  min-height: 300px;
  padding: 50px;
  width: 100%;
  justify-content: flex-start;
  box-sizing: border-box;
}
/* line 65, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: block;
  margin-right: 10px;
  position: relative;
  transition: width 0.5s;
}
/* line 75, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo.draggable {
  z-index: 10;
}
/* line 78, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo .photo-overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s, background 0.5s;
  background-color: rgba(219, 219, 219, 0);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  line-height: 200px;
  cursor: move;
}
/* line 91, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo .setSize {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
/* line 98, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo .delete-link {
  font-size: 26px;
  position: absolute;
  z-index: 5;
  right: 4px;
  top: 4px;
  color: white;
  transition: color 0.3s;
}
/* line 106, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo .delete-link:hover {
  color: #D9113D;
}
/* line 111, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo:hover .photo-overlay {
  opacity: 1;
  background-color: rgba(219, 219, 219, 0.3);
}
/* line 118, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo.dragActive .delete-link {
  display: none;
}
/* line 121, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo.dragActive .photo-overlay {
  opacity: 1;
  z-index: 20;
  background-color: rgba(219, 219, 219, 0.7);
}
/* line 125, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo.dragActive .photo-overlay i {
  opacity: 0;
}
/* line 135, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo.add-photo {
  position: relative;
  transition: background-color 0.5s;
  background-color: #dbdbdb;
  line-height: 200px;
}
/* line 140, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo.add-photo:hover {
  background-color: #b5b5b5;
}

/* line 151, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.i-item {
  text-align: center;
  font-size: 80px;
}
/* line 154, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.i-item i {
  color: white;
}
