/* line 3, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos {
  justify-content: space-between;
}
/* line 5, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box {
  width: 33%;
  margin-right: 10px;
  height: 305px;
  line-height: 305px;
  transition: background-color 0.5s;
  background-color: #dbdbdb;
  position: relative;
}
/* line 13, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box .setSize {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 21, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box:last-child {
  margin-right: 0;
}
/* line 24, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box.active {
  background-color: #c9c9c9;
}
/* line 27, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.header-photos .photo-box.hover {
  background-color: #b5b5b5;
}

/* line 32, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container {
  display: flex;
  min-height: 300px;
  padding: 50px;
  width: 100%;
  justify-content: flex-start;
  box-sizing: border-box;
}
/* line 40, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: block;
  margin-right: 10px;
  position: relative;
  transition: width 0.5s;
}
/* line 50, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo.draggable {
  z-index: 10;
}
/* line 53, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo .photo-overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s, background 0.5s;
  background-color: rgba(219, 219, 219, 0);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  line-height: 200px;
  cursor: move;
}
/* line 66, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo .setSize {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
/* line 74, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo:hover .photo-overlay {
  opacity: 1;
  background-color: rgba(219, 219, 219, 0.3);
}
/* line 81, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo:active .photo-overlay, .photos-container .photo.dragActive .photo-overlay {
  opacity: 1;
  z-index: 20;
  background-color: rgba(219, 219, 219, 0.7);
}
/* line 85, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo:active .photo-overlay i, .photos-container .photo.dragActive .photo-overlay i {
  opacity: 0;
}
/* line 95, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo.add-photo {
  position: relative;
  transition: background-color 0.5s;
  background-color: #dbdbdb;
  line-height: 200px;
}
/* line 100, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.photos-container .photo.add-photo:hover {
  background-color: #b5b5b5;
}

/* line 111, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.i-item {
  text-align: center;
  font-size: 80px;
}
/* line 114, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/photo.scss */
.i-item i {
  color: white;
}
