/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* line 3, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
html, body {
  font-size: 18px;
  min-height: 100%;
  min-width: 1000px;
  font-family: verdana;
}

/* line 10, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
body {
  background-color: #ffffff;
  color: #333;
  background-image: url(/assets/bg7-c8ec99e6caaf8a3047ab23be89e49c18c1a0280e14e70bb534ba77c1338017a8.png);
  background-size: 300px;
  background-position: 0 0;
  background-repeat: repeat;
}

/* line 18, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
body.home {
  min-width: 1260px !important;
}

/* line 21, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.main-wrapper {
  overflow: hidden;
}

/* line 24, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.main {
  min-height: 75vh;
  margin-bottom: 50px;
  min-width: 1000px;
}

/* line 29, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 36, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
h1, h2, h3 {
  font-weight: 400;
  margin: 0;
}

/* line 41, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
h1 {
  font-size: 36px;
  line-height: 48px;
  color: #256693;
}

/* line 47, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
h2 {
  font-size: 20px;
  line-height: 28px;
}

/* line 53, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.before-pattern {
  position: relative;
  background-color: white;
}
/* line 56, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.before-pattern::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -80px;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0);
  background-image: -webkit-gradient(linear, 0deg, from(rgba(255, 255, 255, 0)), to(white));
  background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), white);
  background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0), white);
  background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, 0), white);
  background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, 0), white);
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(255, 255, 255, 0)', endColorStr='white');
}

/* line 67, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.box-title {
  color: #333;
  font-size: 3.5em;
  font-weight: 400;
}

/* line 72, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.text-gold {
  color: #b1986a;
}

/* line 76, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.center-wrapper {
  margin: 0 7%;
  width: 86%;
  min-height: 60vh;
}

/* line 83, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.form-box {
  width: 400px;
  margin: 0 auto;
}

/* line 87, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.hidden {
  display: none !important;
}

/* line 91, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.middle-image {
  max-width: 300px;
}

/* line 94, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.rule {
  position: relative;
  z-index: 1000;
}

/* line 100, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.overlay-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  z-index: 100;
}

/* line 113, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.colored-bg {
  background-color: #256693;
}

/* line 116, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.colored-border {
  border-color: #256693;
}

/* line 119, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.colored-text {
  color: #256693;
}

/* line 123, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.pay_info {
  background-color: white;
  width: 60%;
  margin: 50px auto;
  box-sizing: border-box;
  padding: 40px;
}
/* line 129, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.pay_info h2 {
  font-weight: bold;
}
