/* line 3, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
html, body {
  font-size: 18px;
  min-height: 100%;
  font-family: verdana;
}

/* line 9, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
body {
  background-color: #ffffff;
  color: #333;
}

/* line 13, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.main-wrapper {
  overflow: hidden;
}

/* line 16, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.main {
  min-height: 75vh;
  margin-bottom: 50px;
}

/* line 20, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 27, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
h1, h2, h3 {
  font-weight: 400;
  margin: 0;
}

/* line 32, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
h1 {
  font-size: 36px;
  line-height: 48px;
  color: #256693;
}

/* line 38, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
h2 {
  font-size: 20px;
  line-height: 28px;
}

/* line 46, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.box-title {
  color: #333;
  font-size: 3.5em;
  font-weight: 400;
}

/* line 51, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.text-gold {
  color: #b1986a;
}

/* line 55, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.center-wrapper {
  margin: 0 7%;
  width: 86%;
  min-height: 60vh;
}

/* line 62, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.form-box {
  width: 400px;
  margin: 0 auto;
}

/* line 66, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.hidden {
  display: none !important;
}

/* line 70, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.middle-image {
  max-width: 300px;
}

/* line 73, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.rule {
  position: relative;
  z-index: 1000;
}

/* line 79, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.overlay-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  z-index: 100;
}

/* line 92, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.colored-bg {
  background-color: #256693;
}

/* line 95, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.colored-border {
  border-color: #256693;
}

/* line 98, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/style.scss */
.colored-text {
  color: #256693;
}
