/* line 3, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/tablet.scss */
.footerContainer {
  margin-left: 50px;
  margin-right: 50px;
}

/* line 11, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/tablet.scss */
.counter input[type=number] {
  outline: 0 none;
  text-align: center;
  border: none;
  padding: 3px !important;
}
