/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* line 6, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
input[type=text], input[type=password], input[type=email], textarea {
  background-color: #E5E5E5;
  padding: 0.7rem 0.5rem;
  font-size: 1.2rem;
  border: 1px solid transparent;
  -webkit-border-radius: 1px;
  -khtml-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
}

/* line 18, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.number {
  overflow: hidden;
  margin: 0 4px;
}
/* line 21, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.number input[type=number] {
  width: 100%;
}

/* line 28, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

/* line 34, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* line 39, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.button {
  border: none;
  outline: none;
  letter-spacing: 1px;
  color: white;
  background-color: #256693;
  text-transform: uppercase;
  display: inline-block;
  font-weight: normal;
  max-width: 500px;
  position: relative;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 1rem;
  text-align: left;
  padding: 1rem 60px 1rem 1.2rem;
}
/* line 54, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.button:hover {
  cursor: pointer;
}
/* line 56, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.button:hover:after {
  width: 3rem;
  cursor: pointer;
}
/* line 60, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.button:hover:before {
  right: 1rem;
}
/* line 64, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.button:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  width: 45px;
  background-color: #2c7ab0;
  transition: width 0.7s;
}
/* line 75, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.button:active:after {
  width: 55px;
}
/* line 79, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.button:before {
  font-family: 'FontAwesome', sans-serif;
  color: white;
  position: absolute;
  right: 10px;
  font-size: 2rem;
  top: 0;
  z-index: 10;
  line-height: 2rem;
  transition: right 0.7s;
}

/* line 94, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.button.fa-button:before {
  font-size: 1.2rem;
  line-height: 3.3rem;
}

/* line 103, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.button {
  background-color: #256693;
}
/* line 105, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.button:after {
  background-color: #2c7ab0;
}

/* line 110, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.smallButton {
  padding: 0.2rem 0.3rem;
  text-align: center;
}
/* line 113, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.smallButton::after {
  display: none;
}
/* line 116, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.smallButton::before {
  display: none;
}

/* line 121, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
a {
  text-decoration: none;
  line-height: 1.1em;
  transition: all 0.3s;
}
/* line 125, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
a:not(.no-color) {
  color: #737373;
}
/* line 128, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
a:not(.no-link) {
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
}
/* line 132, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
a:visited {
  color: #666;
}
/* line 136, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
a:not(.no-color):hover {
  color: #333;
  border-color: #256693;
}

/* line 142, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.linkButton {
  background-color: #256693;
  font-size: 24px;
  color: white !important;
  padding: 15px 50px;
  margin-top: 70px;
}

/* line 150, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.blueLink {
  background-color: #256693;
  font-size: 18px;
  color: white;
  padding: 15px;
}

/* line 158, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
form .actions {
  text-align: right;
  margin-top: 20px;
}
/* line 162, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
form .field {
  position: relative;
  margin-top: 40px;
}
/* line 165, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
form .field input[type=text], form .field input[type=password], form .field input[type=email], form .field textarea {
  width: 100%;
}
/* line 168, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
form .field label {
  position: relative;
  z-index: 10;
  color: black;
  opacity: 1;
  font-size: 1.2rem;
  display: inline-block;
  left: 10px;
  margin: 10px 0;
}
/* line 179, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
form .field.noinput label {
  color: #333;
}
/* line 184, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
form .field > img {
  max-width: 300px;
  max-height: 140px;
  padding: 10px 0;
}
/* line 192, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
form.TopLabelForm:not(.noinput) label {
  position: absolute;
  top: 0.7em;
  transition: all 0.3s;
}
/* line 196, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
form.TopLabelForm:not(.noinput) label.topLabel {
  top: -1.5rem;
  color: #333;
}
/* line 200, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
form.TopLabelForm:not(.noinput) label.topLabelNOAnimate {
  top: -1.5rem;
  color: #333;
}
/* line 206, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
form.TopLabelForm:not(.noinput) input:focus + label {
  color: #333;
  top: -1.5rem;
}

/* line 216, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.counter button {
  width: 40px;
  height: 40px;
}
/* line 220, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.counter input[type=number] {
  height: 40px;
  outline: 0 none;
  text-align: center;
  border: none;
}
/* line 229, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.counter .number {
  width: 80px;
  margin: 0 5px;
  border-radius: 2px;
}

/* line 238, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.pageView .topBox .title {
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: 400;
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}

/* line 258, /home/stepan/site/DailyDiner/app/assets/stylesheets/ui.scss */
.devise_links {
  text-align: center;
  margin: 20px 0;
}
