- provide(:title, "Товары категории #{@category.name}")
%h1= "Товары категории #{@category.name}"

- if @items.any?
  .homeItems-wrapper.itemsGrid.flex
  = render 'se_shop/layouts/items', object: @items
- elsif @subcategories.any?
  %ul
    - @subcategories.each do |subcategory|
      %li= link_to subcategory.name, se_shop.category_subcategory_path(@category, subcategory)