%table
  %thead
    %tr
      %th Изображение
      %th Название
      %th Цена
      %th Выход
      %th
  %tbody
    - @items.each do |item|
      %tr
        %td
          %img.setSize(data-bg="#{item.image_url}" data-size="5" data-setimage="true")
        %td= link_to item.name, se_shop.admin_item_path(item), class: 'no-link'
        %td
          %span.ruble
            %span #{item.price}
            %i.fa.fa-rub
        %td
          %span #{item.measurer}
        %td
          .edit-box
            %a.edit{:href => "#{se_shop.edit_admin_item_path(item)}"}
              %i.fa.fa-pencil
            =link_to se_shop.admin_item_path(item),  :method => :delete, data: { confirm: 'Вы уверены?' }, :class => 'delete' do
              %i.fa.fa-trash