.sidebar
  %ul.list
    %li
      =link_to "Вернуться к сайту", main_app.root_path, :class => 'fa fa-home'
    %li
      =link_to "Главная", se_shop.admin_root_path, :class => 'fa fa-desktop'
    %li
      =link_to "Магазины", se_shop.admin_shop_index_path, :class => 'fa fa-shopping-bag'
    %li
      =link_to "Журнал заказов", se_shop.admin_order_history_path,:class => 'fa fa-history'

