!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Daily Diner"
    = stylesheet_link_tag "admin", :media => "all", 'data-turbolinks-track' => true
    = javascript_include_tag "admin", 'data-turbolinks-track' => true
    = csrf_meta_tags
    = display_meta_tags
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")

  %body
    - flash.each do |key, value|
      %div{:class => "alert alert-#{key}"}= value
    %embed.playSound{:hidden => "true", :loop => "false", :src => asset_url('notification.mp3')}
    %audio#notification-sound{:controls => "controls", :style => "display:none;"}
      %source{:src => asset_url('notification.mp3')}
    .admin-flex
      = render 'se_shop/admin/layouts/sidebar'
      .admin-content
        = render 'se_shop/admin/layouts/header'
        .admin-wrapper
          = yield