= form_for @good, url: {:action=> (@good.new_record? ? 'create' : 'update')} do |f|
  - if @good.errors.any?
    #error_explanation
      %h2= "#{pluralize(@good.errors.count, "error")} Возникли ошибки при сохранении"
      %ul
        - @good.errors.full_messages.each do |msg|
          %li= msg
  .field.noinput
    = f.label :item
    = f.collection_select(:item_id, @items, :id, :name, prompt: "Выбери блеать!")
  .field
    = f.text_field :price
    = f.label :price
  .field
    = f.text_field :newprice
    = f.label :newprice
  .actions
    = f.button("Сохранить", class:"button fa-button fa-plus")
