.flex.itemCounter
  %button.button.smallButton.countDown
    %i.fa.fa-minus
  %span.number.width-50
    %input(type="number" min="1" max="100" step="1" value="1")
  %button.button.smallButton.countUp
    %i.fa.fa-plus
%button.button.fa-button.fa-cart-plus  В корзину
= link_to "Удалить товар", shop_good_path(@category, @good), :method => :delete, :data => { :confirm => "Вы уверены?"}
= link_to "Редактировать товар", edit_shop_good_path(@category, @good)
