.cart-open.cart-open-fixed.something
  =render 'se_shop/order/cartopen', orders: @orders
  .cart-manage
    %span.back-to-shop.equalBlue Продолжить покупки
    %span.clear-cart.equalBlue Очистить корзину
    %a.back-to-future.blueLink.no-link.no-color{:href => se_shop.order_index_path} Оформить заказ