.nothing
  .text
    %span Ваша корзина пуста =(
.table-container
  %table
    %thead
      %tr
        %th
        %th
        %th Название
        %th Цена
        %th Количество
        %th Общая стоимость
    %tbody
      -if orders.present?
        - orders.each do |order|
          - @item = SeShop::Item.find(order.item_id)
          %tr{:id => "trItem#{@item.id}"}
            %td
              .itemRemove
                %i.fa.fa-times
            %td
              -if @item.image?
                %img.setSize(data-bg="#{@item.image_url}" data-size="5" data-setimage="true")
              -else
                %img{:src => asset_url('no-photo.jpg')}
            %td= @item.name
            %td
              %span.ruble
                #{@item.price.to_i}
                %i.fa.fa-rub
            %td= render partial: 'se_shop/layouts/counterAmount', object: order.amount.to_i
            %td
              %span.ruble
                %span.sum #{@item.price.to_i * order.amount.to_i}
                %i.fa.fa-rub
    %tfoot
      %tr
        %td
        %td
        %td
        %td
        %td Итого
        %td
          %span.ruble
            %span.sumTotal
            %i.fa.fa-rub
