.nothing
  .text
    %span Ваша корзина пуста =(
.table-container
  %table
    %thead
      %tr
        %th
        %th
        %th Название
        %th Цена
        %th Количество
        %th Общая стоимость
    %tbody

    %tfoot
      %tr
        %td
        %td
        %td
        %td
        %td Итого
        %td
          %span.ruble
            %span.sumTotal
            %i.fa.fa-rub