.cart-title
  %h1.step-title
    Адрес доставки
  %h2.order-status
    Оформление заказа
= form_for @orderDetail, url: {:action=> 'order_detail'}, html:{method: :post}, remote: true, :authenticity_token => true do |f|
  - if @orderDetail.errors.any?
    #error_explanation
      %h2= "#{pluralize(@orderDetail.errors.count, "error")} Возникли ошибки при сохранении"
      %ul
        - @orderDetail.errors.full_messages.each do |msg|
          %li= msg
  .details-wrapper
    .mandatory
      %span *
      \- поля обязательные для заполнения
    .details-main
      .details-column
        .field
          = f.label "Ваше имя", :class => "have-to-fill"
          = f.text_field :name
        .field
          = f.label "Ваш телефон", :class => "have-to-fill"
          = f.text_field :phone, class: 'phone'
        .field
          = f.label "Ваш e-mail"
          = f.text_field :email, :maxlength=>70
        %p Для отправки сообщения о заказе введите e-mail
        .field
          = f.label "Время доставки"
          = f.text_field :shipping_date, :maxlength=>70, class: 'time'
      .details-column
        .field
          = f.label "Улица", :class => "have-to-fill"
          = f.text_field :street, :maxlength=>280
        .address-block
          .field
            = f.label "Дом", :class => "have-to-fill"
            = f.text_field :building, :maxlength=>5
          .field
            = f.label "Квартира"
            = f.text_field :apartment, :maxlength=>4
        .address-block
          .field
            = f.label "Этаж"
            = f.text_field :floor, :maxlength=>3
          .field
            = f.label "Подъезд"
            = f.text_field :porch, :maxlength=>2
    .details-comment
      .field
        = f.label "Комментарий"
        = f.text_area :comment
      .actions
        = f.button("Перейти к оплате", class:"blueLink order-send")
  %a.back-step.no-link.equalBlue{:href => "#"} Назад