.icon_box
  %span
    %img{:alt => "", :src => asset_url('visa8831_s1.png')}
  %span
    %img{:alt => "", :src => asset_url('mastercard8831_s1.png')}
  %a.no-link{:href => "http://www.money.yandex.ru", :target => "_blank"}
    %img{:alt => "", :src => asset_url('yandex8831_s1.png')}