.cart-title
  %h1.step-title
    Выберите способ оплаты
  %h2.order-status
    Оформление заказа
.pay-buttons-panel
  %a.pay-way-wrap.online{:href => se_shop.online_pay_url, class: "no-link"}
    .pay-way-container
      .loading-overlay
        .img.loading
      .pay-way-space
        .img.credit
    %p Оплатить онлайн
  %a.pay-way-wrap.wallet{:href => "#", class: "no-link"}
    .pay-way-container
      .loading-overlay
        .img.loading
      .pay-way-space
        .img.wallet
    %p Рассчитаться наличными
    %span с курьером
  %a.pay-way-wrap.return_to_details{:href => "#", class: "no-link"}
    .pay-way-container
      .loading-overlay
        .img.loading
      .pay-way-space
        .img.return
    %p Редактировать
    %span данные заказа
