- provide(:title, "Корзина")
= render 'se_shop/layouts/header'
- present_order = if @orders.present? then @orders else @unpaid_orders end
.cart-wrapper
  .order-box-all
    .order-box.cart-box(class= "#{if @unpaid_orders.blank? then 'box-active' end}")
      .cart-title
        %h1 Ваша корзина
        %h2 Оформление заказа
      .cart-open.something
        =render 'se_shop/order/cartopen', orders: present_order
        .cart-manage
          %a.back-to-shop.equalBlue.simple-link.no-link{:href => se_shop.shop_index_path} Продолжить покупки
          %span.clear-cart.equalBlue Очистить корзину
          %a.back-to-future.blueLink.no-link.no-color.order-next Оформить заказ
    .order-box.detail-box
      =render partial: "se_shop/order/details"
    .order-box.pay-box(class= "#{if @unpaid_orders.present? then 'box-active' end}")
      =render partial: "se_shop/order/paybox"
  =render 'se_shop/order/icon'
.modal-overlay.order-special
.modal-window.order-special
  .close-button
    %i.fa.fa-times
  =render 'layouts/thankyou'