- provide(:title, "Меню #{@shop.name}")
= render 'se_shop/layouts/header', locals: {shop: @shop}
.middle-wrapper
  .aside
    .aside-container
      .aside-scroll
        %ul.aside-nav
          -@shop.se_shop_categories.each do |category|
            - if category.se_shop_subcategories.present? && category.se_shop_subcategories.any?
              %li.parent
                %span= category.name
                %ul.subcat
                  -category.se_shop_subcategories.each do |subcategory|
                    - if subcategory.se_shop_items.present? && subcategory.se_shop_items.any?
                      %li
                        %a.no-link{:href => "#", :data => {:item => "subcat#{subcategory.id}"}}= subcategory.name
            - if category.se_shop_items.present? && category.se_shop_items.any?
              %li
                %a.no-link{:href => "#", :data => {:item => "cat#{category.id}"}}= category.name
        .shopContacts
          -if !@shop.blank? && !@shop.phone.blank?
            %span= get_code(@shop.phone)
            = get_phone(@shop.phone)
            %p= @shop.address

  .container
    - if @shop.se_shop_categories

      -@shop.se_shop_categories.each do |category|

        -@citems =  category.se_shop_items.order(:created_at)
        -@csubcat = category.se_shop_subcategories.order(:created_at)

        -if (@citems && @citems.any?) || (@csubcat && @csubcat.any?)
          -if @citems && @citems.any?
            %h2.category-name= category.name
            .itemsGrid.littleItem.flex{:data => {target:"cat#{category.id}"}}
              =render partial: 'se_shop/layouts/items', locals: {counter: true, shop: @shop}, collection: @citems, as: :item

          -elsif @csubcat
            -@csubcat.each do |subcategory|
              - @items = subcategory.se_shop_items.order(:created_at)
              -if @items && @items.any?
                %h2.category-name= subcategory.name
                .itemsGrid.littleItem.flex{:data => {target:"subcat#{subcategory.id}"}}
                  =render partial: 'se_shop/layouts/items', locals: {counter: true, shop: @shop}, collection: @items, as: :item
  .cart-link
    .item-amount
      %span= @orders.length
    %i.fa.fa-shopping-cart
  .modal-window
    .close-button
      %i.fa.fa-times
    =render partial: 'se_shop/order/cart', orders: @orders

  .modal-window
    .close-button
      %i.fa.fa-times
    .item-open
  .modal-overlay