.main-admin
  .tiles
    .tile.hide
      .tile-stats.tile-red
        .icon
          %i.fa.fa-shopping-cart
        .num.ruble
          %span 33
        %h3 товара
        %p купили сегодня клиенты
    /
      -if @order_ready.present?
        %a.tile{:href => "#orderReady"}
          .tile-stats.tile-cyan
            .icon
              %i.fa.fa-clock-o
            .num.ruble
              %span= @order_ready.size
            %h3= Russian.p(@order_ready.size, "заказ", "заказа", "заказов")
            %p #{Russian.p(@order_ready.size, "ожидает", "ожидают", "ожидают")} подтверждения
  #orders
    =render "ordersready", orders: @order_ready