.order-view#orderReady{:data => {:url => admin_ready_order_url, :last => "#{SeShop::Order.last.id if SeShop::Order.last.present?}"}}
  %table#order-body{:data => {:max_status => @status_max}}
    %thead
      %tr
        %th Название
        %th Цена
        %th Кол-во
        %th Сумма
        %th
        %th
    =render partial: "order", :locals => {orders: orders}