.order-view#orderHistory{:data => {:url => admin_ready_order_url}}
  %table#order-body{:data => {:max_status => @status_max}}
    %thead
      %tr
        %th Название
        %th Цена
        %th Кол-во
        %th Сумма
        %th
        %th Дата
    -ord = @history.group_by {|o| o[:card_hash]}
    -ready = []
    -ord.each {|o| ready << o[1]}


    -ready.map do |o|
      %tbody.order-master.colored{:id => o[o.size-1].id, class: "status#{o[0].order_status_id}"}
        %tr.customer
          %td(colspan="4")
            %span= o[0].se_shop_order_detail.name
            %span заказал:
          %td.detail-column{:rowspan => o.size+2}
            %span Адрес:
            %br
            %span ул. #{o[0].se_shop_order_detail.street} д. #{o[0].se_shop_order_detail.building}
            - if o[0].se_shop_order_detail.apartment.present?
              %span кв. #{o[0].se_shop_order_detail.apartment}

            - if o[0].se_shop_order_detail.porch.present? || o[0].se_shop_order_detail.floor.present?
              %br
              - if o[0].se_shop_order_detail.porch.present?
                %span подъезд #{o[0].se_shop_order_detail.porch}

              - if o[0].se_shop_order_detail.floor.present?
                %span этаж #{o[0].se_shop_order_detail.floor}
            - if o[0].se_shop_order_detail.shipping_date.present?
              %br
              %span Время доставки:
              %span= o[0].se_shop_order_detail.shipping_date
            - if o[0].se_shop_order_detail.comment.present?
              %br
              %br
              %span Комментарий:
              %br
              %span #{o[0].se_shop_order_detail.comment}
            %br
            %br
            %span= o[0].se_shop_order_detail.phone
            -if o[0].se_shop_order_detail.email.present?
              %br
              %span= o[0].se_shop_order_detail.email
          %td.date-column{:rowspan => o.size+2}
            %span= o[0].updated_at.strftime('%F, в %R')
        -o.each do |order|

          -if SeShop::Item.find_by_id(order.item_id).present?
            - @item = SeShop::Item.find(order.item_id)
            %tr.order-ready{:id => order.id}
              %td= link_to @item.name, se_shop.admin_item_path(@item), class: 'no-link'
              %td
                %span.ruble
                  %span #{@item.price}
                  %i.fa.fa-rub
              %td
                %span #{order.amount}
              %td
                %span.ruble
                  %span #{@item.price*order.amount}
                  %i.fa.fa-rub
        %tr.total
          %td(colspan="4")
            %span.ruble
              %span Итого:
              %span= o.inject(0) {|result, elem| result + ("#{SeShop::Item.find_by_id(elem.item_id).present? ? elem[:amount]*SeShop::Item.find_by_id(elem.item_id).price : 0}").to_i }
              %i.fa.fa-rub