.center-wrapper
  %h1 Изменить Ваш пароль
  .flex.flex-center
    .form-box
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        = f.hidden_field :reset_password_token
        .field
          = f.label :password, "Новый пароль"
          = f.password_field :password, autofocus: true, autocomplete: "off"
        .field
          = f.label :password_confirmation, "Подтвердите новый пароль"
          = f.password_field :password_confirmation, autocomplete: "off"
        .actions
          = f.button "Изменить пароль", class:"button fa-button fa-plus"
      = render "devise/shared/links"
