.center-wrapper
  %h1 Забыли свой пароль?
  .flex.flex-center
    .form-box
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        .field
          = f.label :email
          = f.email_field :email, autofocus: true
        .actions
          = f.button "Пришлите мне инструкции для смены пароля", class:"button fa-button fa-plus"
      = render "devise/shared/links"
