.filials
  .emblemBlock.flex
    - @shops.each do |shop|
      %a.no-link(href= '#{se_shop.shop_path(shop)}')
        %img{:src => shop.logo}
  -if @main_shop.motto
    .motto= @main_shop.motto
  .lineSeparator.flex
    %img{:src => asset_url('line.png')}