.menuContainer
  .menuTitle Меню
  -if !@shop.phone.blank?
    .contact-phone Телефон для заказа #{@shop.phone}
  .homeItems-wrapper
    -if @shop.se_shop_categories
      -@shop.se_shop_categories.each do |category|
        -@citems =  category.se_shop_items
        -@csubcat = category.se_shop_subcategories
        -if (@citems && @citems.any?) || (@csubcat && @csubcat.any?)
          -if @citems && @citems.any?
            %h2.cat-name= category.name
            .itemsGrid.flex
              =render partial: 'se_shop/layouts/items', locals: {shop: @shop, counter: false}, collection: @citems, as: :item
          -elsif @csubcat
            -@csubcat.each do |subcategory|
              - @items = subcategory.se_shop_items
              -if @items && @items.any?
                %h2.cat-name= subcategory.name
                .itemsGrid.flex{:data => {target:"#{subcategory.name}"}}
                  =render partial: 'se_shop/layouts/items', locals: {shop: @shop  , counter: false}, collection: @items, as: :item