- provide(:title, "#{@shop.name}")
- provide(:bg, asset_path('bg2.png'))
.headerPhotos.flex.fixHeight
  .photo-head
    - @photos_block =  set_photos_block(@shop)
    -if @photos_block
      - @photos_block.each_with_index  do |photo, index|
        -if index < 4
          .photo-box.setSize.showPhoto(data-bg="#{photo.image_url}" data-size="3")
        -else
          .photo-box.setSize(data-bg="#{photo.image_url}" data-size="3")
  =link_to "Редактировать фото", shop_photos_path(@shop), class: "link-to-edit-header" if user_admin?
.filials
  .emblemBlock
    .lenta
      .flex
        %a.no-link{:href => root_path}
          %img{:src => asset_path("diner.png"), :style => "width: 180px"}
        %a.no-link.cinnamon.active{:href => "#"}
          %img{:src => asset_path("cinnamon.png"), :style => "width: 219px"}
        %a.no-link{:href => donerstreet_path}
          %img{:src => asset_path("street.png"), :style => "width: 120px"}
  -if !@shop.motto.blank?
    .motto= raw @shop.motto
  .lineSeparator.flex
    %img{:src => asset_url('line.png')}

.menuContainer
  -if !@shop.phone.blank?
    .contact-phone Телефон для заказа #{@shop.phone}
//= render partial: 'menucontainer'

.modal-window
  .close-button
    %i.fa.fa-times
  .item-open
.modal-overlay