- provide(:title, "Daily Diner")
- @photos_block = set_photos_block(@main_shop)
.headerPhotos.flex
  .photo-head
    -if @photos_block
      - @photos_block.each_with_index  do |photo, index|
        -if index < 4
          .photo-box.setSize.showPhoto(data-bg="#{photo.image_url}" data-size="3")
        -else
          .photo-box.setSize(data-bg="#{photo.image_url}" data-size="3")
  =link_to "Редактировать фото", shop_photos_path(@main_shop), class: "link-to-edit-header" if user_admin?
.filials.before-pattern
  .emblemBlock
    .lenta
      .flex
        %a.no-link.cinnamon{:href => cinnamon_path}
          %img{:src => asset_path("cinnamon.png"), :style => "width: 219px"}
        %a.no-link.active{:href => "#"}
          %img{:src => asset_path("diner.png"), :style => "width: 180px"}
        %a.no-link{:href => donerstreet_path}
          %img{:src => asset_path("street.png"), :style => "width: 120px"}
  -if @main_shop.motto
    .motto= raw @main_shop.motto
  .lineSeparator.flex
    %img{:src => asset_url('line.png')}
-if @categories && @categories.se_shop_items.limit(6).any?
  .menuContainer
    .bTitle.flex
      = link_to "Всё меню", se_shop.shop_path(@main_shop), :class => "no-link linkButton"
    .homeItems-wrapper.itemsGrid.flex
      - @shop = @main_shop
      = render partial: 'se_shop/layouts/items', locals: {counter: true}, collection: @items, as: :item
    .fullMenuLink.flex
      = link_to "Всё меню", se_shop.shop_path(@main_shop), :class => "no-link linkButton"

  .cart-link.stop
    .item-amount
      %span= @orders.length
    %i.fa.fa-shopping-cart
  .modal-window
    .close-button
      %i.fa.fa-times
    =render 'se_shop/order/cart', orders: @orders
  .modal-window
    .close-button
      %i.fa.fa-times
    .item-open
  .modal-overlay