- provide(:title, "Товары подкатегории #{@subcategory.name}")
%h1= "Товары подкатегории #{@subcategory.name}"
- if @items.any?
  .center-wrapper.itemsGrid.flex
    - @items.each do |item|
      .itemBox
        .itemBox_name
          = link_to item.name, se_shop.item_path(item), class: 'no-link'
        .itemBox_price
          %span.ruble #{item.price}
        .itemCounter.counter.flex
          %button.button.smallButton.countDown
            %i.fa.fa-minus
          %span.number
            %input(type="number" min="1" max="100" step="1" value="1")
          %button.button.smallButton.countUp
            %i.fa.fa-plus
        %img.setSize(data-bg="#{item.image_url}" data-size="3" data-setimage="true")
/= link_to "Добавить товар", se_shop.new_shop_item_path('subcategory', @subcategory)
/= link_to "Удалить подкатегорию", se_shop.category_subcategory_path(@category, @subcategory), :method => :delete, :data => { :confirm => "Вы уверены?"}
/= link_to "Редактировать подкатегорию", se_shop.edit_category_subcategory_path(@category, @subcategory)