= form_for @category, url: {:action => (@category.new_record? ? 'create' : 'update')}, class:'TopLabelForm' do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "Возникли #{@category.errors.count} #{Russian.p(@category.errors.count, "ошибка", "ошибки", "ошибок")} при сохранении"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label 'Название'
    = f.text_field :name
  .field.noinput
    = f.label 'Изображение'
    %br
    = image_tag(@category.image_url) if @category.image?
    %br
    = f.file_field :image
    = f.hidden_field :image_cache
  .field
    = f.label "Отображать на главной"
    = f.check_box :tomain
  .actions
    = f.button("Сохранить", class:"button fa-button fa-plus")