- provide(:title, "Категории")
%h1 Каталог категорий Вашей сети магазинов
%ul.list
  - @categories.each do |category|
    %li= link_to category.name, admin_category_path(category)
= link_to "Добавить категорию", new_admin_category_path, class: "fa fa-plus"