- provide(:title, "Категория #{@category.name}")
%h1 Категория #{@category.name}

- if @category.se_shop_items.all.any?
  .homeItems-wrapper.itemsGrid.flex
    - @items = @category.se_shop_items.all.each
    =render partial: 'se_shop/admin/layouts/items', locals: {items: @items}

- elsif @category.se_shop_subcategories.all.any?
  %ul.list
    - @category.se_shop_subcategories.all.each do |subcategory|
      %li= link_to subcategory.name, se_shop.admin_shop_category_subcategory_path(@shop, @category, subcategory)
- if shop?
  = link_to "Назад к магазину", se_shop.admin_shop_path(@shop), class: "fa fa-arrow-left"
  - if @subcategories.any? || (!@subcategories.any? && !@items.any?)
    = link_to "Добавить подкатегорию", se_shop.new_admin_shop_category_subcategory_path(@shop, @category), class: "fa fa-plus"

  - if (!@subcategories.any? && !@items.any?) || @items.any?
    =link_to "Добавить товар", se_shop.admin_new_shop_item_path('category', @category), class: "fa fa-plus"

  = link_to "Удалить категорию", se_shop.admin_shop_category_path(@shop, @category), class: "fa fa-trash-o", :method => :delete, :data => { :confirm => "Вы уверены?"}
  = link_to "Редактировать категорию", se_shop.admin_shop_edit_category_path(@shop, @category), class: "fa fa-pencil"
