/* line 3, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/head.scss */
#header {
  width: 100%;
  height: 60px;
  background-color: #f0f0f0;
  color: #333;
  padding: 5px;
  box-sizing: border-box;
}
/* line 11, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/head.scss */
#header a:hover {
  color: #ffffff;
}
/* line 15, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/head.scss */
#header .hello {
  display: inline-block;
  padding: 0;
  margin: 10px;
}
/* line 20, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/head.scss */
#header .logout {
  padding: 15px;
}
