/* line 2, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/items.scss */
table {
  margin: 10px 0;
}
/* line 4, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/items.scss */
table th, table td {
  padding: 5px 10px;
}
/* line 6, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/items.scss */
table th img, table td img {
  width: 100px;
}
/* line 13, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/items.scss */
table thead th {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 22, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/items.scss */
.edit-box a {
  color: #333;
  padding-right: 5px;
}
/* line 25, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/items.scss */
.edit-box a i {
  font-size: 20px;
}
/* line 29, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/items.scss */
.edit-box a.edit:hover {
  color: #499BD4;
}
/* line 34, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/items.scss */
.edit-box a.delete:hover {
  color: #D9113D;
}
