/* line 1, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/main.scss */
.admin-wrapper {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  min-height: 100vh;
}

/* line 10, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/main.scss */
.admin-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  min-height: 100%;
}
/* line 15, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/main.scss */
.admin-flex > * {
  width: 100%;
  min-height: 100%;
  position: relative;
}

/* line 3, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/items.scss */
table th, table td {
  padding: 5px 10px;
}
/* line 5, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/items.scss */
table th img, table td img {
  width: 100px;
}

/* line 11, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/items.scss */
.edit-box a {
  color: #333;
  padding-right: 5px;
}
/* line 14, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/items.scss */
.edit-box a i {
  font-size: 20px;
}
/* line 18, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/items.scss */
.edit-box a.edit:hover {
  color: #499BD4;
}
/* line 23, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/items.scss */
.edit-box a.delete:hover {
  color: #D9113D;
}
