/* line 1, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/main.scss */
.admin-wrapper {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  min-height: 100vh;
}

/* line 10, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/main.scss */
.admin-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  min-height: 100%;
}
/* line 15, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/main.scss */
.admin-flex > * {
  width: 100%;
  min-height: 100%;
  position: relative;
}

/* line 21, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/main.scss */
.noone {
  margin: 50px 0;
}

/* line 24, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/main.scss */
.noone {
  margin: 10px 0;
}

/* line 27, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/main.scss */
.hide {
  display: none;
}

/* line 2, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/items.scss */
table {
  margin: 10px 0;
}
/* line 4, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/items.scss */
table th, table td {
  padding: 5px 10px;
}
/* line 6, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/items.scss */
table th img, table td img {
  width: 100px;
}
/* line 13, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/items.scss */
table thead th {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 22, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/items.scss */
.edit-box a {
  color: #333;
  padding-right: 5px;
}
/* line 25, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/items.scss */
.edit-box a i {
  font-size: 20px;
}
/* line 29, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/items.scss */
.edit-box a.edit:hover {
  color: #499BD4;
}
/* line 34, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/items.scss */
.edit-box a.delete:hover {
  color: #D9113D;
}

/* line 1, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tiles {
  display: flex;
}

/* line 4, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile {
  margin-right: 20px;
  width: 250px;
}

/* line 8, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats {
  position: relative;
  display: block;
  background: #303641;
  padding: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 26, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats:hover {
  background: #252a32;
}
/* line 29, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats .icon {
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 10px;
  bottom: 45px;
  z-index: 1;
}
/* line 35, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats .icon i {
  font-size: 100px;
  line-height: 0;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}
/* line 41, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats .icon i:before {
  margin: 0;
  padding: 0;
  line-height: 0;
}
/* line 48, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats .num, .tile-stats h3, .tile-stats p {
  position: relative;
  color: #fff;
  z-index: 5;
  margin: 0;
  padding: 0;
}
/* line 55, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats .num {
  font-size: 38px;
  font-weight: bold;
}
/* line 59, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats h3 {
  font-size: 18px;
  margin-top: 5px;
}
/* line 63, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats p {
  font-size: 11px;
  margin-top: 5px;
}
/* line 67, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-primary {
  background: #31271e;
}
/* line 69, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-primary .tile-entry {
  border-color: #352a21;
}
/* line 72, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-primary .title {
  background: #211a14;
}

/* line 89, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-red {
  background: #f56954;
}

/* line 92, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-red:hover {
  background: #f4543c;
}

/* line 95, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-red .icon {
  color: rgba(0, 0, 0, 0.1);
}

/* line 98, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-red .num,
.tile-stats.tile-red h3,
.tile-stats.tile-red p {
  color: #fff;
}

/* line 103, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-green {
  background: #00a65a;
}

/* line 106, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-green:hover {
  background: #008d4c;
}

/* line 109, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-green .icon {
  color: rgba(0, 0, 0, 0.1);
}

/* line 112, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-green .num,
.tile-stats.tile-green h3,
.tile-stats.tile-green p {
  color: #fff;
}

/* line 117, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-blue {
  background: #0073b7;
}

/* line 120, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-blue:hover {
  background: #00639e;
}

/* line 123, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-blue .icon {
  color: rgba(0, 0, 0, 0.1);
}

/* line 126, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-blue .num,
.tile-stats.tile-blue h3,
.tile-stats.tile-blue p {
  color: #fff;
}

/* line 131, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-aqua {
  background: #00c0ef;
}

/* line 134, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-aqua:hover {
  background: #00acd6;
}

/* line 137, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-aqua .icon {
  color: rgba(0, 0, 0, 0.1);
}

/* line 140, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-aqua .num,
.tile-stats.tile-aqua h3,
.tile-stats.tile-aqua p {
  color: #fff;
}

/* line 145, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-cyan {
  background: #00b29e;
}

/* line 148, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-cyan:hover {
  background: #009987;
}

/* line 151, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-cyan .icon {
  color: rgba(0, 0, 0, 0.1);
}

/* line 154, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-cyan .num,
.tile-stats.tile-cyan h3,
.tile-stats.tile-cyan p {
  color: #fff;
}

/* line 159, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-purple {
  background: #ba79cb;
}

/* line 162, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-purple:hover {
  background: #b167c4;
}

/* line 165, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-purple .icon {
  color: rgba(0, 0, 0, 0.1);
}

/* line 168, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-purple .num,
.tile-stats.tile-purple h3,
.tile-stats.tile-purple p {
  color: #fff;
}

/* line 173, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-pink {
  background: #ec3b83;
}

/* line 176, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-pink:hover {
  background: #ea2474;
}

/* line 179, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-pink .icon {
  color: rgba(0, 0, 0, 0.1);
}

/* line 182, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-pink .num,
.tile-stats.tile-pink h3,
.tile-stats.tile-pink p {
  color: #fff;
}

/* line 187, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-orange {
  background: #ffa812;
}

/* line 190, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-orange:hover {
  background: #f89d00;
}

/* line 193, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-orange .icon {
  color: rgba(0, 0, 0, 0.1);
}

/* line 196, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-orange .num,
.tile-stats.tile-orange h3,
.tile-stats.tile-orange p {
  color: #fff;
}

/* line 201, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-brown {
  background: #6c541e;
}

/* line 204, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-brown:hover {
  background: #584418;
}

/* line 207, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-brown .icon {
  color: rgba(0, 0, 0, 0.1);
}

/* line 210, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-brown .num,
.tile-stats.tile-brown h3,
.tile-stats.tile-brown p {
  color: #fff;
}

/* line 215, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-plum {
  background: #701c1c;
}

/* line 218, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-plum:hover {
  background: #5c1717;
}

/* line 221, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-plum .icon {
  color: rgba(0, 0, 0, 0.1);
}

/* line 224, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-plum .num,
.tile-stats.tile-plum h3,
.tile-stats.tile-plum p {
  color: #fff;
}

/* line 229, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-gray {
  background: #f5f5f5;
}

/* line 232, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-gray:hover {
  background: #e8e8e8;
}

/* line 235, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-gray .icon {
  color: rgba(0, 0, 0, 0.1);
}

/* line 238, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-gray .num,
.tile-stats.tile-gray h3,
.tile-stats.tile-gray p {
  color: #8f8f8f;
}

/* line 243, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white {
  background: #fff;
  border: 1px solid #ebebeb;
}

/* line 247, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white:hover {
  background: #f2f2f2;
}

/* line 250, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white .icon {
  color: #f2f2f2;
}

/* line 253, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white .num,
.tile-stats.tile-white h3,
.tile-stats.tile-white p {
  color: #303641;
}

/* line 258, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white:hover {
  background-color: #fafafa;
}

/* line 261, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-red {
  background: #fff;
  border: 1px solid #ebebeb;
}

/* line 265, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-red:hover {
  background: #f2f2f2;
}

/* line 268, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-red .icon {
  color: #f2f2f2;
}

/* line 271, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-red .num,
.tile-stats.tile-white-red h3,
.tile-stats.tile-white-red p {
  color: #f56954;
}

/* line 276, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-red:hover {
  background-color: #fafafa;
}

/* line 279, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-green {
  background: #fff;
  border: 1px solid #ebebeb;
}

/* line 283, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-green:hover {
  background: #f2f2f2;
}

/* line 286, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-green .icon {
  color: #f2f2f2;
}

/* line 289, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-green .num,
.tile-stats.tile-white-green h3,
.tile-stats.tile-white-green p {
  color: #00a65a;
}

/* line 294, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-green:hover {
  background-color: #fafafa;
}

/* line 297, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-blue {
  background: #fff;
  border: 1px solid #ebebeb;
}

/* line 301, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-blue:hover {
  background: #f2f2f2;
}

/* line 304, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-blue .icon {
  color: #f2f2f2;
}

/* line 307, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-blue .num,
.tile-stats.tile-white-blue h3,
.tile-stats.tile-white-blue p {
  color: #0073b7;
}

/* line 312, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-blue:hover {
  background-color: #fafafa;
}

/* line 315, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-aqua {
  background: #fff;
  border: 1px solid #ebebeb;
}

/* line 319, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-aqua:hover {
  background: #f2f2f2;
}

/* line 322, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-aqua .icon {
  color: #f2f2f2;
}

/* line 325, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-aqua .num,
.tile-stats.tile-white-aqua h3,
.tile-stats.tile-white-aqua p {
  color: #00c0ef;
}

/* line 330, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-aqua:hover {
  background-color: #fafafa;
}

/* line 333, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-cyan {
  background: #fff;
  border: 1px solid #ebebeb;
}

/* line 337, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-cyan:hover {
  background: #f2f2f2;
}

/* line 340, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-cyan .icon {
  color: #f2f2f2;
}

/* line 343, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-cyan .num,
.tile-stats.tile-white-cyan h3,
.tile-stats.tile-white-cyan p {
  color: #00b29e;
}

/* line 348, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/tile.scss */
.tile-stats.tile-white-cyan:hover {
  background-color: #fafafa;
}

/* line 1, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.new-order {
  background-color: #FFC1C1 !important;
}

/* line 5, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master:nth-child(even) {
  background-color: #EDEDED;
}
/* line 10, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master tr:last-child td {
  padding-bottom: 30px;
}
/* line 17, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master td:last-child {
  text-align: right;
}
/* line 22, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master .customer td {
  text-align: left;
}
/* line 27, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master .total {
  text-align: right;
}
