/* line 1, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.new-order {
  background-color: #FFC1C1 !important;
}

/* line 4, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
#orderReady, #orderHistory {
  overflow: hidden;
}
/* line 6, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
#orderReady table, #orderHistory table {
  font-size: 14px;
}
/* line 9, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
#orderReady table td:first-child, #orderHistory table td:first-child {
  width: 230px;
}
/* line 15, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
#orderReady table td:nth-child(3), #orderHistory table td:nth-child(3) {
  text-align: center;
}

/* line 21, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master {
  position: relative;
  transition: background 0.3s;
}
/* line 24, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master.colored {
  border-right-width: 15px;
  border-right-style: solid;
}
/* line 28, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master.status3 {
  border-right-color: #009EE8;
}
/* line 31, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master.status4 {
  border-right-color: #E8C900;
}
/* line 34, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master.status5 {
  border-right-color: #FF5959;
}
/* line 37, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master.status6 {
  border-right-color: #E36BFF;
}
/* line 40, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master.status7 {
  border-right-color: #7A0096;
}
/* line 43, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master.status8 {
  border-right-color: #5A9600;
}
/* line 46, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master:nth-child(odd) {
  background-color: white;
}
/* line 49, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master:nth-child(even) {
  background-color: #EDEDED;
}
/* line 52, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master:hover {
  background-color: #C9E7FF;
}
/* line 57, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master tr:last-child td {
  padding-bottom: 30px;
}
/* line 64, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master td:last-child {
  text-align: right;
}
/* line 69, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master .customer td {
  text-align: left;
}
/* line 73, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master .customer .detail-column {
  vertical-align: top;
  width: 200px;
}
/* line 77, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master .customer .manage-column {
  width: 150px;
}
/* line 81, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master .total {
  text-align: right;
}
