/* line 1, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.new-order {
  background-color: #FFC1C1 !important;
}

/* line 5, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master:nth-child(even) {
  background-color: #EDEDED;
}
/* line 10, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master tr:last-child td {
  padding-bottom: 30px;
}
/* line 17, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master td:last-child {
  text-align: right;
}
/* line 22, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master .customer td {
  text-align: left;
}
/* line 27, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master .total {
  text-align: right;
}
