/* line 1, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.new-order {
  background-color: #FFC1C1 !important;
}

/* line 4, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
#orderReady {
  overflow: hidden;
}
/* line 6, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
#orderReady table {
  font-size: 14px;
}
/* line 9, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
#orderReady table td:first-child {
  width: 230px;
}
/* line 15, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
#orderReady table td:nth-child(3) {
  text-align: center;
}

/* line 22, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master {
  position: relative;
  transition: background 0.3s;
}
/* line 25, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master.colored {
  border-right-width: 15px;
  border-right-style: solid;
}
/* line 29, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master.status3 {
  border-right-color: #009EE8;
}
/* line 32, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master.status4 {
  border-right-color: #E8C900;
}
/* line 35, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master.status5 {
  border-right-color: #FF5959;
}
/* line 38, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master.status6 {
  border-right-color: #E36BFF;
}
/* line 41, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master.status7 {
  border-right-color: #7A0096;
}
/* line 44, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master.status8 {
  border-right-color: #5A9600;
}
/* line 47, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master:nth-child(odd) {
  background-color: white;
}
/* line 50, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master:nth-child(even) {
  background-color: #EDEDED;
}
/* line 53, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master:hover {
  background-color: #C9E7FF;
}
/* line 58, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master tr:last-child td {
  padding-bottom: 30px;
}
/* line 65, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master td:last-child {
  text-align: right;
}
/* line 70, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master .customer td {
  text-align: left;
}
/* line 74, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master .customer .detail-column {
  vertical-align: top;
  width: 200px;
}
/* line 78, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master .customer .manage-column {
  width: 150px;
}
/* line 82, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/order.scss */
.order-master .total {
  text-align: right;
}
