/* line 3, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/sidebar.scss */
.sidebar {
  width: 300px;
  background-color: #2a3f54;
  padding-top: 50px;
  box-sizing: border-box;
  font-size: 22px;
}
/* line 9, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/sidebar.scss */
.sidebar ul {
  color: #f1f1f1;
}
/* line 11, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/sidebar.scss */
.sidebar ul li {
  margin-bottom: 10px;
}
/* line 14, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/sidebar.scss */
.sidebar ul a {
  color: #f1f1f1;
}
