/* line 3, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/sidebar.scss */
.sidebar {
  width: 350px;
  background-color: #31271e;
  padding-top: 50px;
  box-sizing: border-box;
  font-size: 16px;
}
/* line 9, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/sidebar.scss */
.sidebar ul {
  color: #fbf1df;
}
/* line 11, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/sidebar.scss */
.sidebar ul li {
  margin-bottom: 10px;
}
/* line 13, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/sidebar.scss */
.sidebar ul li.fa {
  margin-top: 5px;
  margin-right: 5px;
}
/* line 16, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/sidebar.scss */
.sidebar ul li.fa::before {
  padding-right: 5px;
}
/* line 21, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/sidebar.scss */
.sidebar ul a {
  color: #fbf1df;
}
