/* line 3, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/style.scss */
html, body {
  font-size: 18px;
  height: 100%;
  font-family: verdana;
}

/* line 9, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/style.scss */
body {
  background-color: #ffffff;
  color: #333;
}

/* line 13, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/style.scss */
.main-wrapper {
  overflow: hidden;
}

/* line 16, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/style.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/style.scss */
a {
  text-decoration: none;
  line-height: 1.1em;
  transition: all 0.3s;
}
/* line 25, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/style.scss */
a:hover {
  color: #4d4d4d;
}
/* line 28, /home/stepan/site/DailyDiner/app/assets/stylesheets/admin/style.scss */
a.light:hover {
  color: #d8d8d8;
}
