/* line 3, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/style.scss */
html, body {
  font-size: 18px;
  height: 100%;
  font-family: verdana;
}

/* line 9, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/style.scss */
body {
  background-color: #ffffff;
  color: #333;
}

/* line 13, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/style.scss */
.main-wrapper {
  overflow: hidden;
}

/* line 16, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/style.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
