/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* line 6, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
input[type=text], input[type=password], input[type=email], textarea {
  background-color: #E5E5E5;
  padding: 0.7rem 0.5rem;
  font-size: 1.2rem;
  border: 1px solid transparent;
  -webkit-border-radius: 1px;
  -khtml-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
}

/* line 18, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
textarea {
  min-height: 300px;
  font-size: 1em;
}

/* line 22, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.number {
  overflow: hidden;
  margin: 0 4px;
}
/* line 25, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.number input[type=number] {
  width: 120%;
  margin-left: -5px;
  padding-left: 5px;
}

/* line 36, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
h1 {
  font-size: 1.5em;
}

/* line 39, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
h2 {
  font-size: 1.3em;
}

/* line 43, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
a {
  text-decoration: none;
  line-height: 1.1em;
  transition: all 0.3s;
  color: #31271E;
}
/* line 49, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
a:hover {
  color: #604d3b;
}
/* line 52, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
a.fa {
  margin-top: 5px;
  margin-right: 5px;
}
/* line 55, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
a.fa::before {
  padding-right: 5px;
}

/* line 61, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
input[type=number] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 67, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.button {
  border: none;
  outline: none;
  letter-spacing: 1px;
  color: white;
  background-color: #31271E;
  text-transform: uppercase;
  display: inline-block;
  font-weight: normal;
  max-width: 500px;
  position: relative;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 1rem;
  text-align: left;
  padding: 1rem 60px 1rem 1.2rem;
}
/* line 82, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.button:hover {
  cursor: pointer;
}
/* line 84, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.button:hover:after {
  width: 3rem;
  cursor: pointer;
}
/* line 88, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.button:hover:before {
  right: 1rem;
}
/* line 92, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.button:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  width: 45px;
  background-color: #3b2f24;
  transition: width 0.7s;
}
/* line 103, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.button:active:after {
  width: 55px;
}
/* line 107, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.button:before {
  font-family: 'FontAwesome', sans-serif;
  color: white;
  position: absolute;
  right: 10px;
  font-size: 2rem;
  top: 0;
  z-index: 10;
  line-height: 2rem;
  transition: right 0.7s;
}

/* line 122, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.button.fa-button:before {
  font-size: 1.2rem;
  line-height: 3.3rem;
}

/* line 131, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.button {
  background-color: #31271E;
}
/* line 133, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.button:after {
  background-color: #3b2f24;
}

/* line 138, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.smallButton {
  padding: 0.2rem 0.3rem;
  text-align: center;
}
/* line 141, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.smallButton::after {
  display: none;
}
/* line 144, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.smallButton::before {
  display: none;
}

/* line 151, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.linkButton {
  background-color: #31271E;
  font-size: 24px;
  color: white !important;
  padding: 15px 50px;
  margin-top: 70px;
}

/* line 160, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
form .actions {
  text-align: right;
  margin-top: 20px;
}
/* line 164, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
form .field {
  position: relative;
  margin-top: 40px;
}
/* line 167, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
form .field input[type=text], form .field input[type=password], form .field input[type=email], form .field textarea {
  width: 100%;
}
/* line 170, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
form .field label {
  padding-right: 10px;
  position: relative;
  z-index: 10;
  color: black;
  opacity: 1;
  font-size: 1.2rem;
  display: inline-block;
  left: 10px;
  margin: 10px 0;
}
/* line 182, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
form .field.noinput label {
  color: #333;
}
/* line 187, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
form .field > img {
  max-width: 300px;
  max-height: 140px;
  padding: 10px 0;
}
/* line 195, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
form.TopLabelForm:not(.noinput) label {
  position: absolute;
  top: 0.7em;
  transition: all 0.3s;
}
/* line 199, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
form.TopLabelForm:not(.noinput) label.topLabel {
  top: -1.5rem;
  color: #333;
}
/* line 203, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
form.TopLabelForm:not(.noinput) label.topLabelNOAnimate {
  top: -1.5rem;
  color: #333;
}
/* line 209, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
form.TopLabelForm:not(.noinput) input:focus + label {
  color: #333;
  top: -1.5rem;
}

/* line 220, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.pageView .topBox .title {
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: 400;
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}

/* line 240, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.devise_links {
  text-align: center;
  margin: 20px 0;
}

/* line 246, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
ul.list {
  list-style-type: none;
}
/* line 248, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
ul.list li {
  margin-bottom: 7px;
}

/* line 254, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.setStatus, .destroy {
  display: inline-block;
  padding: 10px 5px;
  width: 120px;
  text-align: center;
  font-size: 14px;
  background-color: #31271E;
  color: white;
  cursor: pointer;
  margin: 10px 0;
}
/* line 264, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.setStatus:hover, .destroy:hover {
  color: white;
  background-color: #705945;
}

/* line 269, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.destroy {
  margin-top: 0;
  background-color: #ff1a00;
}
/* line 272, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/admin/ui.scss */
.destroy:hover {
  background-color: #ff7666;
}
