- provide(:title, "Контакты")
= render 'se_shop/layouts/header', locals: {shop: @shop}
.filials.before-pattern.contact-page
  .emblemBlock
    .lenta
      .flex
        %a.no-link.cinnamon{:href => "#", :data => {:address => @cinnamonShop.city + " " + @cinnamonShop.address,
        :phone => @cinnamonShop.phone, :street => @cinnamonShop.address, :email => @cinnamonShop.email,
        :vklink => @cinnamonShop.vklink, :instalink => @cinnamonShop.Instalink}}
          %img{:src => asset_path("cinnamon.png"), :style => "width: 219px"}


        %a.no-link.active{:href => "#", :data => {:address => @main_shop.city + " " + @main_shop.address,
        :phone => @main_shop.phone, :street => @main_shop.address, :email => @main_shop.email,
        :vklink => @main_shop.vklink, :instalink => @main_shop.Instalink}}
          %img{:src => asset_path("diner.png"), :style => "width: 180px"}


        %a.no-link{:href => "#", :data => {:address => @donerShop.city + " " + @donerShop.address,
        :phone => @donerShop.phone, :street => @donerShop.address, :email => @donerShop.email,
        :vklink => @donerShop.vklink, :instalink => @donerShop.Instalink}}
          %img{:src => asset_path("street.png"), :style => "width: 120px"}
.map-box
  .shop-info
    .place
      %p=@cinnamonShop.city+","
      %br
      %span=@cinnamonShop.address
    %p=@cinnamonShop.phone
    %p=@cinnamonShop.email
  .shop-info.exist
    .place
      %p=@main_shop.city+","
      %br
      %span=@main_shop.address
    %p=@main_shop.phone
    %p=@main_shop.email
  .shop-info
    .place
      %p=@donerShop.city+","
      %br
      %span=@donerShop.address
    %p=@donerShop.phone
    %p=@donerShop.email
  #map


    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyChdW7MYQqt88qv8HnUN0Z3pkE2d_ZdCb8&callback=initMap"