.pay_info
  %h2 Обработка оплаты
  %p
    Cрок обработки с момента оплаты заказа до момента приема оплаченного заказа к исполнению или отказа в исполнении и возврата денег занимает не более 10 минут.
  %p
    Cрок обработки с момента принятия оплаченного заказа к исполнению до момента доставки заказа занимает до 3х часов.
  %p
    Доставка осуществляется только по городу Барнаулу
  %h2 Оплата
  %p
    Для Вашего удобства, предусмотрено несколько форм оплат , которые Вы можете выбрать в процессе оформления заказа.
  %p
    %ul
      %li 1.Оплата наличными курьеру

      %li 2. Оплата через платежный сервис PAYSTO.

  %p
    Несколько слов о данном платежном сервисе.
    %br
    Paysto является самой современной системой сбора и обработки платежей в российском Интернете. Основными принципами работы данной системы для клиентов являются:
    %ul

      %li Безопасность.
      %li Высокая степень защиты информации.
      %li Удобный, интуитивно понятный интерфейс.
      %li Отсутствие комиссий для покупателя.

    Очевидным достоинством данной системы является то , что данный сервис аккумулировал в себе самые популярные у потребителей формы оплаты через Интернет.
    %br
    %br
    При проведении оплаты через PAYSTO , следуйте инструкциям во время проведения платежа.Оплата заказа производится через интернет,непосредственно после его оформления.
    %br
    %br
    Оплата товара в нашем магазине производится ТОЛЬКО в рублях.
    %br
    Стоимость товаров указанная на сайте является окончательной, комиссию оплачивает магазин.


  %h2 Возврат денежных средств.

  %p

    Cредства полностью возвращаются, если Вам был отправлен бракованный товар или товар, не соответствующий представленному на сайте.
    %br
    %br
    Возврат производится на тот же счет(систему) с которой был совершен платеж.
    %br
    %br
    Претензии принимаются по контактным данным указанным в разделе
    =link_to "контакты", contacts_path

