@import "admin/variable";

#header{
  width: 100%;
  height: 60px;
  background-color: #f0f0f0;
  color: $adminText;
  padding: 5px;
  box-sizing: border-box;
  a{
    &:hover{
      color: #ffffff;
    }
  }
  .hello{
    display: inline-block;
    padding: 0;
    margin: 10px;
  }
  .logout{
    padding: 15px;
  }
}