@import "admin/variable";
table{
  margin: 10px 0;
  th, td{
    padding: 5px 10px;
    img{
      width: 100px;
    }
  }
  thead{
    tr{
    }
    th{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  td{
  }
}
.edit-box{
  a{
    color: $adminText;
    padding-right: 5px;
    i{
      font-size: 20px;
    }
    &.edit{
      &:hover{
        color: $blueColor;
      }
    }
    &.delete{
      &:hover{
        color: $redColor;
      }
    }
  }
}