.admin-wrapper{
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  min-height: 100vh;
  .single-item-wrapper{
    img{
      width: 300px;
    }
  }
}
.admin-content{

}
.admin-flex{
  display: flex;
  width: 100%;
  justify-content: space-between;
  min-height: 100%;
  & > * {
    width: 100%;
    min-height: 100%;
    position: relative;
  }
}
.noone{
  margin: 50px 0;
}
.noone{
  margin: 10px 0;
}
.hide{
  display: none;
}


@import "admin/items";
@import "admin/tile";
@import "admin/order";
