.new-order{
  background-color: #FFC1C1!important;
}
#orderReady, #orderHistory{
  overflow: hidden;
  table{
    font-size: 14px;
    td{
      max-width: 300px;
      &:first-child{
        width: 230px;
      }
      &:nth-child(2){

      }
      &:nth-child(3){
        text-align: center;
      }
    }
  }
}
.order-master{
  position: relative;
  transition: background 0.3s;
  &.colored{
    border-right-width: 15px;
    border-right-style: solid;
  }
  &.status3{
    border-right-color: #009EE8;
  }
  &.status4{
    border-right-color: #E8C900;
    .statusNow{
      font-size: 18px;
      font-weight: bold;
    }
  }
  &.status5{
    border-right-color: #FF5959;
  }
  &.status6{
    border-right-color: #E36BFF;
  }
  &.status7{
    border-right-color: #7A0096;
  }
  &.status8{
    border-right-color: #5A9600;
  }
  &:nth-child(odd){
    background-color: white;
  }
  &:nth-child(even){
    background-color: #EDEDED;
  }
  &:hover{
    background-color: #C9E7FF;
  }
  tr{
    &:last-child{
      td{
        padding-bottom: 30px;

      }
    }
  }
  td{
    &:last-child{
      text-align: right;
    }
  }
  .customer{
    td{

      text-align: left;
    }
    .detail-column{
      vertical-align: top;
      width: 200px;
      overflow-x: hidden;
    }
    .manage-column{
      width: 150px;
    }
  }
  .total{
    text-align: right;
  }
}

