@import "admin/variable";

.sidebar{
  width: 350px;
  background-color: darken($adminMain, 0%);
  padding-top: 50px;
  box-sizing: border-box;
  font-size: 16px;
  ul{
    color: $adminTextLight;
    li{
      margin-bottom: 10px;
      &.fa{
        margin-top: 5px;
        margin-right: 5px;
        &::before{
          padding-right: 5px;
        }
      }
    }
    a{
      color: $adminTextLight
    }
  }
}