@import "admin/variable";

html, body{
  font-size:18px;
  height: 100%;
  font-family: verdana;
}

body{
  background-color: $bg-color;
  color: $text-color;
}
.main-wrapper{
  overflow: hidden;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}