$input_font-size: 1.2rem;

@import "admin/variable.scss";
@import "mixins.scss";

input[type=text], input[type=password], input[type=email], textarea{
  background-color: $input-bg_color;
  padding: 0.7rem 0.5rem;
  font-size: $input_font-size;
  border: 1px solid transparent;
  @include border-radius(1px);
  @include box-sizing();
  color:  darken($text-color, 30%);
}
input[type=submit]{

}
textarea{
  min-height: 300px;
  font-size: 1em;
}
.number {
  overflow: hidden;
  margin: 0 4px;
  input[type=number] {
    width: 120%;
    margin-left: -5px;
    padding-left: 5px;
  }
}

h1,h2{

}

h1{
  font-size: 1.5em;
}
h2{
  font-size: 1.3em;
}

a{

  text-decoration: none;
  line-height: 1.1em;
  transition: all 0.3s;
  color: $admin-link;
  &:hover{
    color: lighten($admin-link, 15%)
  }
  &.fa{
    margin-top: 5px;
    margin-right: 5px;
    &::before{
      padding-right: 5px;
    }
  }
}

input[type=number] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button {
  border: none;
  outline: none;
  letter-spacing: 1px;
  color: white;
  background-color: $adminMain;
  text-transform: uppercase;
  display: inline-block;
  font-weight: normal;
  max-width: 500px;
  position: relative;
  @include border-radius(2px);
  font-size: 1rem;
  text-align: left;
  padding: 1rem 60px 1rem 1.2rem;
  &:hover{
    cursor: pointer;
    &:after {
      width: 3rem;
      cursor: pointer;
    }
    &:before{
      right: 1rem;
    }
  }
  &:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    width: 45px;
    background-color: $adminMain*1.2;
    transition: width 0.7s;
  }
  &:active{
    &:after {
      width: 55px;
    }
  }
  &:before {
    font-family: 'FontAwesome', sans-serif;
    color: white;
    position: absolute;
    right: 10px;
    font-size: 2rem;
    top: 0;
    z-index: 10;
    line-height: 2rem;
    transition: right 0.7s;
  }
}

.button{
  &.fa-button{
    &:before {
      font-size: 1.2rem;
      line-height: 3.3rem;
    }
  }
}



.button{
  background-color: $adminMain;
  &:after{
    background-color: $adminMain*1.2;
  }
}

.smallButton {
  padding: 0.2rem 0.3rem;
  text-align: center;
  &::after{
    display: none;
  }
  &::before{
    display: none;
  }
}



.linkButton{
  background-color: $adminMain;
  font-size: 24px;
  color: white !important;
  padding: 15px 50px;
  margin-top: 70px;
}

form{
  .actions{
    text-align: right;
    margin-top: 20px;
  }
  .field{
    position: relative;
    margin-top: 40px;
    input[type=text], input[type=password], input[type=email], textarea{
      width: 100%;
    }
    label{
      padding-right: 10px;
      position: relative;
      z-index: 10;
      color:  darken($text-color, 30%);
      opacity: 1;
      font-size: $input_font-size;
      display: inline-block;
      left: 10px;
      margin: 10px 0;
    }
    &.noinput{
      label{
        color: $text-color;
      }
    }

    & > img{
      max-width: 300px;
      max-height: 140px;
      padding: 10px 0;
    }
  }
  &.TopLabelForm{
    &:not(.noinput) {
      label {
        position: absolute;
        top: 0.7em;
        transition: all 0.3s;
        &.topLabel {
          top: -1.5rem;
          color: $text-color;
        }
        &.topLabelNOAnimate {
          top: -1.5rem;
          color: $text-color;
        }
      }
      input:focus {
        & + label {
          color: $text-color;
          top: -1.5rem;
        }
      }
    }
  }
}

.pageView{
  .topBox{
    .title{

      color:  $white;
      font-size: 3.5rem;
      font-weight: 400;
      position: absolute;
      top: 50%;
      margin-top: -0.5rem;
      text-align: center;
      width: 100%;
      padding: 20px 0;
      box-sizing: border-box;
    }
  }
}
.closePWButton{

}


.devise_links{
  text-align: center;
  margin: 20px 0;
}


ul.list{
  list-style-type: none;
  li{
    margin-bottom: 7px;
  }
}


.setStatus, .destroy{
  display: inline-block;
  padding: 10px 5px;
  width: 120px;
  text-align: center;
  font-size: 14px;
  background-color: $adminCoffee;
  color: white;
  cursor: pointer;
  margin: 10px 0;
  &:hover{
    color: white;
    background-color: lighten($adminCoffee, 20%);
  }
}
.destroy{
  margin-top: 0;
  background-color: #ff1a00;
  &:hover{
    background-color:lighten(#ff1a00, 20%);
  }
}