$bg-color: /*#2e2f30;*/ #ffffff;

$white: #ffffff;
$greenColor: #3BB677;
$blueColor: #499BD4;
$redColor: #D9113D;
$grassColor: #7CCC12;


$gold: #b1986a;


$adminCoffee:#31271E;
$adminLightCoffee: #fbf1df;

$adminBlue: #2A3F54;
$adminLightBlue: #00475E;


$darkGray:#333;

$adminText: $darkGray;
$adminTextLight: $adminLightCoffee;

$adminMain: $adminCoffee;

$input-border_color: #c6c6c6;
$input-bg_color: #E5E5E5;
$text-color: #333;
$light-color: #d3d3d3;

$title-color: $text-color;
$link-color: $text-color;

$link-border-color: $adminMain;


$admin-link: $adminCoffee;
