.center-wrapper
  .flex.flex-center
    .form-box
      .loginBox
        =link_to 'Выйти', main_app.destroy_user_session_path, :method => :delete, class: "button no-link no-color fa-button fa-sign-out"