.center-wrapper
  %h1 Войти
  .flex.flex-center
    .form-box
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.label :email
          = f.email_field :email
        .field
          = f.label :password
          = f.password_field :password, autocomplete: "off"
        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label :remember_me
        .actions
          = f.button "Войти", class:"button fa-button fa-sign-in"
      = render "devise/shared/links"
