/* line 2, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper {
  display: flex;
  width: 100%;
  margin-top: 70px;
}
/* line 7, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside {
  width: 290px;
  position: relative;
  z-index: 100;
}
/* line 11, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-container {
  width: 290px;
  height: 100%;
  box-sizing: border-box;
  padding-top: 60px;
}
/* line 17, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-scroll {
  top: 0;
}
/* line 20, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-scroll.fixed {
  position: fixed;
}
/* line 24, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav {
  width: 290px;
  box-sizing: border-box;
  padding: 35px 0 35px 30px;
  background-color: #414141;
  list-style-type: none;
  margin: 0;
}
/* line 31, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.45px;
  margin-bottom: 10px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-right: 30px;
  color: white;
}
/* line 41, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li a {
  color: white;
}
/* line 43, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li a:hover, .middle-wrapper .aside .aside-nav li a.active {
  color: #58bbff;
}
/* line 47, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li .invisible {
  position: absolute;
  right: -150px;
  top: -10px;
  display: block;
  list-style-type: none;
  background-color: #414141;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
/* line 59, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li .subcat {
  padding-left: 15px;
  padding-bottom: 0px;
  padding-top: 5px;
  box-sizing: border-box;
  display: block;
  list-style-type: none;
}
/* line 66, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li .subcat li {
  margin-bottom: 5px;
}
/* line 69, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li .subcat a {
  font-size: 0.8em;
}
/* line 75, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .shopContacts {
  width: 100%;
  box-sizing: border-box;
  margin-top: 35px;
  padding-left: 25px;
}
/* line 80, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .shopContacts span {
  font-size: 14px;
}
/* line 85, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .container {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  padding-left: 30px;
}
/* line 90, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .container .category-name {
  color: #1a537b;
  font-size: 36px;
  font-weight: 400;
  margin-left: 60px;
  margin-top: 5px;
  margin-bottom: 15px;
}
/* line 97, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .container .category-name:first-child {
  margin-top: 0px;
}

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* line 4, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-link {
  transition: opacity 0.5s;
  position: fixed;
  display: block;
  top: 50%;
  right: 50px;
  margin-top: -30.35714px;
  width: 60.71429px;
  height: 60.71429px;
  background-color: #414141;
  transform: rotate(-45deg);
  box-sizing: border-box;
  cursor: pointer;
  opacity: 1;
  z-index: 1000;
}
/* line 19, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-link.stop {
  opacity: 0;
}
/* line 22, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-link .item-amount {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  background-color: #4599d5;
  right: -15.0px;
}
/* line 30, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-link .item-amount span {
  width: 100%;
  height: 100%;
  line-height: 30px;
  display: block;
  color: white;
  font-size: 16px;
  transform: rotate(45deg);
  text-align: center;
}
/* line 42, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-link i {
  color: white;
  font-size: 30px;
  transform: rotate(45deg);
  margin-left: 15.17857px;
  margin-top: 15.17857px;
}

/* line 53, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

/* line 67, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open {
  position: relative;
}
/* line 69, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open .table-container {
  min-height: 300px;
  background-color: white;
}
/* line 73, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open table {
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  font-family: Arial;
  text-align: center;
  opacity: 0;
}
/* line 80, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open table thead {
  background-color: #ececec;
}
/* line 82, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open table thead th {
  padding: 15px 25px;
}
/* line 87, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open table tbody td {
  padding: 15px 14px;
}
/* line 89, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open table tbody td:first-child {
  padding-right: 0;
}
/* line 92, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open table tbody td:last-child {
  width: 185px;
}
/* line 95, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open table tbody td .sum {
  margin-right: 5px;
}
/* line 98, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open table tbody td img {
  width: 80px;
}
/* line 104, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open table tfoot td {
  padding: 15px 5px;
  text-align: right;
}
/* line 107, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open table tfoot td:last-child {
  padding: 15px 14px;
  text-align: center;
}
/* line 115, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open .nothing {
  width: 100%;
  position: absolute;
  height: 300px;
  left: 0;
  top: 0;
  display: table;
}
/* line 116, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open .nothing .text {
  vertical-align: middle;
  font-size: 50px;
  text-align: center;
  display: table-cell;
}
/* line 129, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open .itemRemove {
  cursor: pointer;
}
/* line 131, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open .itemRemove i {
  color: #333;
}
/* line 133, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open .itemRemove i:hover {
  color: #D9113D;
}
/* line 138, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open .cart-manage {
  margin-top: 8px;
  height: 50px;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}
/* line 144, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open .cart-manage span, .cart-open .cart-manage a, .cart-open .cart-manage button {
  font-size: 14px;
  color: white;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  padding: 12px;
}
/* line 152, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open .cart-manage .back-to-future {
  display: none;
}
/* line 157, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open.something .nothing {
  opacity: 0;
  display: none;
}
/* line 161, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open.something .back-to-future {
  display: block;
}
/* line 164, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open.something table {
  opacity: 1;
}

/* line 169, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open-fixed {
  min-height: 300px;
  width: 840px;
}
/* line 173, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-open-fixed .table-container {
  min-height: 300px;
  background-color: white;
  max-height: 70vh;
  overflow-y: auto;
}

/* line 180, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-wrapper {
  width: 900px;
  margin: 70px auto;
}
/* line 183, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.cart-wrapper .cart-title {
  margin-bottom: 40px;
}

/* line 187, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.black {
  color: #333 !important;
}

/* line 191, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.order-box-all {
  position: relative;
  transition: height 0.5s;
}
/* line 194, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.order-box-all .order-box {
  left: 0;
  top: 0;
  position: absolute;
}
/* line 198, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.order-box-all .order-box.detail-box {
  display: none;
}
/* line 201, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.order-box-all .order-box.pay-box {
  display: none;
  width: 100%;
}

/* line 210, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.details-wrapper {
  padding: 30px;
  background-color: white;
  min-width: 700px;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  flex-direction: column;
}
/* line 220, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.details-wrapper .field {
  margin-top: 0;
}
/* line 223, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.details-wrapper p {
  font-size: 12px;
}
/* line 226, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.details-wrapper label {
  display: block !important;
}
/* line 228, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.details-wrapper label.have-to-fill {
  position: relative;
}
/* line 230, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.details-wrapper label.have-to-fill:after {
  display: block;
  content: "*";
  color: #D9113D;
  position: absolute;
  top: 0;
  left: -15px;
}
/* line 240, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.details-wrapper input, .details-wrapper textarea {
  background-color: transparent;
  border: 1px solid #333;
  font-size: 18px;
  padding: 5px;
}
/* line 246, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.details-wrapper input.error, .details-wrapper textarea.error {
  margin-bottom: 23px;
}
/* line 250, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.details-wrapper .error-box {
  width: 500px;
  position: absolute;
  font-size: 12px;
  text-align: left;
  color: #D9113D;
  left: 0;
  bottom: 0;
}
/* line 259, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.details-wrapper .mandatory {
  text-align: right;
  font-size: 12px;
}
/* line 262, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.details-wrapper .mandatory span {
  color: #D9113D;
}
/* line 266, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.details-wrapper .details-main {
  display: flex;
  justify-content: space-between;
}
/* line 269, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.details-wrapper .details-main input[type=text] {
  width: 250px !important;
  height: 40px;
}
/* line 274, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.details-wrapper .details-main .details-column .address-block {
  display: flex;
  justify-content: space-between;
}
/* line 277, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.details-wrapper .details-main .details-column .address-block input[type=text] {
  width: 120px !important;
  height: 40px;
}
/* line 284, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.details-wrapper .details-comment {
  display: flex;
  justify-content: space-between;
  position: relative;
}
/* line 288, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.details-wrapper .details-comment textarea {
  width: 425px;
  height: 120px;
}
/* line 292, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.details-wrapper .details-comment .actions {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 299, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.pay-buttons-panel {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
/* line 303, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.pay-buttons-panel .pay-way-wrap {
  width: 350px;
  height: 350px;
  text-align: center;
  background-color: white;
  box-sizing: border-box;
  padding-top: 45px;
}
/* line 311, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.pay-buttons-panel .pay-way-wrap .pay-way-space {
  align-content: center;
  display: inline-block;
  box-sizing: border-box;
  padding: 30px;
  transition: background-color 0.5s;
  border: 2px solid #5fd4af;
  background-color: transparent;
  border-radius: 50%;
}
/* line 321, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.pay-buttons-panel .pay-way-wrap .pay-way-space .img {
  width: 110px;
  height: 110px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* line 327, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.pay-buttons-panel .pay-way-wrap .pay-way-space .img.credit {
  background-image: url("/assets/card-7ea6c483d45a2cac9c662680e019a2f176cec5f2136733551e4cbbf4b3b5fcdd.png");
}
/* line 330, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.pay-buttons-panel .pay-way-wrap .pay-way-space .img.wallet {
  background-image: url("/assets/cash-ebabb2511c0acbabac42b12a3ab8d19f1ac83b1f9045995199882ac56e1979c3.png");
}
/* line 336, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.pay-buttons-panel .pay-way-wrap:hover .pay-way-space {
  background-color: #5fd4af;
}
/* line 341, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/cart.scss */
.pay-buttons-panel p {
  margin: 0;
  margin-top: 30px;
}
