/* line 1, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.no-padding {
  padding: 0px !important;
}

/* line 4, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.no-margin {
  margin: 0 !important;
}

/* line 7, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.center-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
}

/* line 17, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.relative {
  position: relative;
}

/* line 21, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.text-white {
  color: #fff;
}

/* line 24, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.text-center {
  text-align: center;
}

/* line 27, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.text-right {
  text-align: right;
}

/* line 30, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 34, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.light-text {
  color: #d3d3d3;
}

/* line 37, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.f-little {
  font-size: 0.7em;
}

/* line 40, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.small {
  font-size: 0.5em;
}

/* line 43, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.bl-tack {
  color: #494949;
}

/* line 49, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.width-100p {
  width: 100% !important;
}

/* line 52, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.width-50 {
  width: 50px;
}

/* line 55, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.flex {
  display: flex;
}

/* line 58, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.space-between {
  justify-content: space-between;
}

/* line 61, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.flex-center {
  justify-content: center;
}

/* line 64, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.flex-end {
  justify-content: flex-end;
}

/* line 70, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.overflow-hidden {
  overflow: hidden;
}

/* line 73, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.box {
  border-top: 1px solid transparent;
}

/* line 80, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.margin-top-10 {
  margin-top: 10px;
}

/* line 83, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.margin-bottom-10 {
  margin-bottom: 10px;
}

/* line 87, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.margin-vertical-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 91, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.margin-vertical-07em {
  margin-top: 0.7em;
  margin-bottom: 0.7rem;
}

/* line 95, /home/svetneona/.rvm/gems/ruby-2.2.1/bundler/gems/seshop-0ec3fe73735d/app/assets/stylesheets/se_shop/middle.css.scss */
.margin-vertical-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
