/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* line 3, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin-top: 70px;
}
/* line 8, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside {
  -webkit-flex-basis: 390px;
  -khtml-flex-basis: 390px;
  -moz-flex-basis: 390px;
  -ms-flex-basis: 390px;
  -o-flex-basis: 390px;
  flex-basis: 390px;
  -webkit-flex-shrink: 1;
  -khtml-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-shrink: 1;
  -o-flex-shrink: 1;
  flex-shrink: 1;
  margin-right: 50px;
  position: relative;
  z-index: 100;
}
/* line 14, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-container {
  width: 290px;
  height: 100%;
  box-sizing: border-box;
  padding-top: 60px;
}
/* line 20, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-scroll {
  top: 0;
}
/* line 23, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-scroll.fixed {
  position: fixed;
}
/* line 27, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav {
  width: 290px;
  box-sizing: border-box;
  padding: 35px 0 35px 30px;
  background-color: #414141;
  list-style-type: none;
  margin: 0;
}
/* line 34, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.45px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-right: 30px;
  color: white;
}
/* line 43, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li a {
  color: white;
}
/* line 45, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li a:hover, .middle-wrapper .aside .aside-nav li a.active {
  color: #58bbff;
}
/* line 49, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li .invisible {
  position: absolute;
  right: -150px;
  top: -10px;
  display: block;
  list-style-type: none;
  background-color: #414141;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
/* line 61, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li .subcat {
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  box-sizing: border-box;
  display: block;
  list-style-type: none;
}
/* line 68, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li .subcat li {
  margin-bottom: 0;
}
/* line 71, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li .subcat a {
  font-size: 0.8em;
}
/* line 77, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .shopContacts {
  width: 100%;
  box-sizing: border-box;
  margin-top: 35px;
  padding-left: 25px;
}
/* line 82, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .shopContacts span {
  font-size: 14px;
}
/* line 87, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .container {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}
/* line 91, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .container .category-name {
  color: #1a537b;
  font-size: 36px;
  font-weight: 400;
  margin-left: 60px;
  margin-top: 5px;
  margin-bottom: 15px;
}
/* line 98, /home/svetneona/Site/DailyDiner/dailydiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .container .category-name:first-child {
  margin-top: 0px;
}
