/* line 2, /home/stepan/site/DailyDiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper {
  display: flex;
  width: 100%;
  margin-top: 70px;
}
/* line 7, /home/stepan/site/DailyDiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside {
  width: 290px;
  position: relative;
  z-index: 100;
}
/* line 11, /home/stepan/site/DailyDiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-container {
  width: 290px;
  height: 100%;
  box-sizing: border-box;
  padding-top: 60px;
}
/* line 17, /home/stepan/site/DailyDiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-scroll {
  top: 0;
}
/* line 20, /home/stepan/site/DailyDiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-scroll.fixed {
  position: fixed;
}
/* line 24, /home/stepan/site/DailyDiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav {
  width: 290px;
  box-sizing: border-box;
  padding: 35px 0 35px 30px;
  background-color: #414141;
  list-style-type: none;
  margin: 0;
}
/* line 31, /home/stepan/site/DailyDiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.45px;
  margin-bottom: 10px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-right: 30px;
  color: white;
}
/* line 41, /home/stepan/site/DailyDiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li a {
  color: white;
}
/* line 43, /home/stepan/site/DailyDiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li a:hover, .middle-wrapper .aside .aside-nav li a.active {
  color: #58bbff;
}
/* line 47, /home/stepan/site/DailyDiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li .invisible {
  position: absolute;
  right: -150px;
  top: -10px;
  display: block;
  list-style-type: none;
  background-color: #414141;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
/* line 59, /home/stepan/site/DailyDiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li .subcat {
  padding-left: 15px;
  padding-bottom: 0px;
  padding-top: 5px;
  box-sizing: border-box;
  display: block;
  list-style-type: none;
}
/* line 66, /home/stepan/site/DailyDiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li .subcat li {
  margin-bottom: 5px;
}
/* line 69, /home/stepan/site/DailyDiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .aside-nav li .subcat a {
  font-size: 0.8em;
}
/* line 75, /home/stepan/site/DailyDiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .shopContacts {
  width: 100%;
  box-sizing: border-box;
  margin-top: 35px;
  padding-left: 25px;
}
/* line 80, /home/stepan/site/DailyDiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .aside .shopContacts span {
  font-size: 14px;
}
/* line 85, /home/stepan/site/DailyDiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .container {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  padding-left: 30px;
}
/* line 90, /home/stepan/site/DailyDiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .container .category-name {
  color: #1a537b;
  font-size: 36px;
  font-weight: 400;
  margin-left: 60px;
  margin-top: 5px;
  margin-bottom: 15px;
}
/* line 97, /home/stepan/site/DailyDiner/app/assets/stylesheets/se_shop/style.scss */
.middle-wrapper .container .category-name:first-child {
  margin-top: 0px;
}
