= form_for @photo, url: {:action=> (@photo.new_record? ? 'create' : 'update')} do |f|
  - if @photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@photo.errors.count, "error")} Возникли ошибки при сохранении"
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg
  .field.noinput
    = f.label :image
    %br
    = image_tag(@photo.image_url) if @photo.image?
    = f.file_field :image
    = f.hidden_field :image_cache
  .actions
    = f.button("Сохранить", class:"button fa-button fa-plus")