.photos-container
  -if !@photos.blank?
    -@photos.each do |photo|
      .photo.draggable{:id => "photo#{photo.id}"}
        =link_to "", shop_photo_path(@main_shop, photo), class:'fa fa-times delete-link no-link',  method: :delete, confirm: "Вы уверены?", remote: true
        .photo-overlay.i-item
          %i.fa.fa-hand-rock-o
        .setSize(data-bg="#{photo.image_url}" data-size="3")
  %a.photo.add-photo.no-link.i-item{:href => "#{new_shop_photo_path}"}
    %i.fa.fa-plus
