= form_for @shop, url: {:action => (@shop.new_record? ? 'create' : 'update')}, class:'TopLabelForm' do |f|
  - if @shop.errors.any?
    #error_explanation
      %h2= "Возникли #{@shop.errors.count} #{Russian.p(@shop.errors.count, "ошибка", "ошибки", "ошибок")} при сохранении"
      %ul
        - @shop.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label 'Название'
    = f.text_field :name
  .field
    = f.label 'Город'
    = f.text_field :city
  .field
    = f.label 'Адрес'
    = f.text_field :address
  .field
    = f.label 'Телефон'
    = f.text_field :phone, class: "phone_shop"
  .field
    = f.label 'E-mail'
    = f.text_field :email
  .field
    = f.label 'Ссылка на vk'
    = f.text_field :vklink
  .field
    = f.label 'Ссылка на instagram'
    = f.text_field :Instalink
  .field.noinput
    = f.label 'Логотип'
    %br
    = image_tag(@shop.logo_url) if @shop.logo?
    %br
    = f.file_field :logo
    = f.hidden_field :logo_cache
  .field
    = f.label 'Слоган'
    = f.cktext_area :motto
  .actions
    = f.button("Сохранить", class:"button fa-button fa-plus")