- provide(:title, 'Ваши магазины')
%h1 Ваши магазины
- if @shops
  %ul.list
    - @shops.each do |shop|
      %li= link_to shop.name, se_shop.admin_shop_path(shop)
= link_to "Добавить магазин", se_shop.new_admin_shop_path, class: "fa fa-plus"

