- provide(:title, "Магазин #{@shop.name}")
%h1= @shop.name
%div= @shop.city
%div= @shop.address
%div= @shop.phone
%div= @shop.email
%div= @shop.vklink
%div= @shop.Instalink
%h2 Категории магазина
- if @categories
  %ul.list
    -@categories.each do |category|
      %li=link_to category.name, se_shop.admin_shop_category_path(@shop, category)

= link_to "Добавить категорию", new_admin_shop_category_path(@shop), class: "fa fa-plus"
%br
%br
=link_to "Редактировать магазин", se_shop.edit_admin_shop_path(@shop), class: "fa fa-pencil"
%br
%br
=link_to "Назад к магазинам", se_shop.admin_shop_index_path, class: "fa fa-arrow-left"