= form_for @item, url: {:action=> (@item.new_record? ? 'create' : 'update')} do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} Возникли ошибки при сохранении"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg
  -if @parent && @parent_type
    = hidden_field_tag(:parent_type, @parent_type)
    = hidden_field_tag(:parent, @parent.id)
  .field
    = f.label :name
    = f.text_field :name
  .field.noinput
    = f.label :image
    = image_tag(@item.image_url) if @item.image?
    = f.file_field :image
    = f.hidden_field :image_cache
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :shortdescription
    = f.text_area :shortdescription
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.button("Сохранить", class:"button fa-button fa-plus")
