.item-view
  - if @item.image?
    %img.bigImg.setSize(data-bg="#{@item.image_url}" data-size="2" data-setimage="true")
  - else
    %img.bigImg{:src => asset_url('no-photo.jpg')}
  .item-info
    %h1= @item.name
    .toYou
      %span.measurer
        #{@item.measurer}
      %span.ruble
        #{@item.price.to_i}
        %i.fa.fa-rub
    %div.description= @item.description if @item.description?