@import "mixins";
.filials.contact-page{
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 0;
  margin-top: -20px;
  .emblemBlock{
    margin-bottom: 30px;
  }
}
.map-box{
  width: 100%;
  max-height: 900px;
  height: 100vh;
  position: relative;
  #map{
    width: 100%;
    height: 100%;
  }
  .shop-info{
    width: 300px;
    height: 250px;
    position: absolute;
    background-color: white;
    left: 150px;
    top: 150px;
    z-index: 100;
    opacity: 0;
    @include display-flex;
    @include css3-prefix(flex-direction, column);
    @include css3-prefix(justify-content, space-around);
    text-align: center;
    p{
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
    }
    &.exist{
      opacity: 1;
    }
  }
}
