.error, .success, .fail{
  text-align: center;
  .alert-main-box{
    width: 500px;
    margin: 150px auto;
    padding: 40px;
    background-color: white;
  }
  h1{
    font-size: 3em;
    font-weight: 400;
  }
  h1, h2{
    margin-bottom: 40px;
  }

}