@import "variable";
@import "mixins";
.footer{
  width: 100%;
  height: 200px;
  background-color: $footerColor;
  position: relative;
  .toTop{
    $size: 60px;
    width: $size;
    height: $size;
    position: absolute;
    background-color: $footerColor;
    border-radius: 50%;
    top: -$size*0.4;
    margin-left: 50%;
    left: -$size/2;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    &::before{
      position: relative;
      top: 4px;
      color: #fff;
      font-size: 26px;
      z-index: 2;
    }
    &::after{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: $size*0.4;
      display: block;
      content: "";
      z-index: 1;
      background-color: transparent;
      transition: opacity 0.3s;
      @include background-gradient(0deg, $footerColor, lighten($footerColor, 10%));
      opacity: 0;
    }
    &:hover{
      &::after{
        opacity: 1;
      }
    }
  }
  .footerContainer{
    @include css3-prefix(justify-content, space-between);
    @include css3-prefix(align-items, center);
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
    background-color: $footerColor;
    position: relative;
    z-index: 2;
    div:nth-child(odd){
      @include css3-prefix(flex-basis, 300px);
    }
  }
  .severLink{

  }
  .navLinks{
    text-align: center;
    @include css3-prefix(flex-grow, 3);
    font-size: 14px;
    a{
      color: #fff;
      margin-right: 30px;
      text-transform: uppercase;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .contactContainer{
    color: #fff;
    font-size: 18px;
    text-align: right;
    span.small-text{
      font-size: 14px;
    }
    .socialBlock {
      margin-top: 5px;
      .socialLink {
        font-size: 12px;
        a {
          color: #fff;
        }
      }
    }
  }
  .paysto{
    position: absolute;
    bottom: 20px;
    right: 0;
    font-size: 10px;
    a{
      color: #BCBCBC;
    }
  }
}
