@import "mixins";
.header{
  width: 100%;
  height: 110px;
  margin-bottom: 20px;
  padding-bottom: 50px;
  position: relative;
  @include display-flex;
  .logoContainer{
    width: 290px;
    .shopLogo{
      display: block;
      height: 100%;
      width: 160px;
      margin-top: 30px;
      margin-left: 45px;
    }
  }
  .mainNav{
    list-style-type: none;
    @include display-flex;
    @include css3-prefix(align-items, flex-end);
    margin: 0;
    padding: 0;
    height: 100%;
    li{
      margin-right: 25px;
      a{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.45px;
        text-transform: uppercase;

        &:hover{
          color: #499bd3;
        }
      }
    }
  }

}