@import "variable";
@import "mixins";

.headerPhotos{
  position: relative;
  background-color: white;
  overflow: hidden;
  height: 45vh;
  width: 100%;
  .photo-head{
    overflow: hidden;
    @include display-flex;
    width: 100%;
    position: absolute;
    height: 100%;
  }
  .link-to-edit-header{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .photo-box{
    width: 33%;
    height: 100%;
    line-height: 305px;

    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: none;


    &.showPhoto{
      display: block;
      margin-right: 10px;
      &:nth-child(4){
        margin-right: 0;
      }
    }

    &:last-child{
      margin-right: 0;
    }
  }
}
.filials{
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 80px;
  background-color: white;
  .emblemBlock{
    margin-bottom: 70px;
    position: relative;
    a{
      img{
        @include css3-prefix(filter, grayscale(100%));
        opacity: 0.5;
        transition: opacity 1s;
      }
      &.active, &:hover{
        img{
          @include css3-prefix(filter, grayscale(0%));
          opacity: 1;
        }
      }
      &.cinnamon{
        position: relative;
        top: 21px;
      }
    }
    .lenta {
      display: inline-block;
      position: relative;
      left: 50%;
      .flex{
        @include css3-prefix(align-items, center);
      }
      a{
        margin-right:45px;
        &:last-child{
          margin-right: 0;
        }
      }
    }


  }
  .motto{
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin-bottom: 35px;
  }
  .lineSeparator{
    @include css3-prefix(justify-content, center);
  }
}
.menuContainer{
  .menuTitle{
    font-size: 36px;
    color: #1a537b;
    text-align: center;
    line-height: 46px;
    margin-bottom: 45px;
  }
  .contact-phone{
    display: block;
    font-size: 30px;
    text-align: center;
    line-height: 36px;
    margin-bottom: 40px;
  }
  .fullMenuLink{
    margin-top: 20px;
    padding-bottom: 40px;
    @include css3-prefix(justify-content, center);
  }
}
.bTitle{
  margin-top: 1px;
  padding-bottom: 40px;
  @include css3-prefix(justify-content, center);
}