@import "mixins";
@import "variable";
.homeItems-wrapper{
  margin: 0 auto;
  width: 1260px;
  h2.cat-name{
    color: #1a537b;
    font-size: 36px;
    font-weight: 400;
    margin-left: 60px;
    margin-top: 5px;
    margin-bottom: 15px;
    &:first-child{
      margin-top: 0;
    }
  }
}
.itemsGrid{
  @include css3-prefix(flex-wrap, wrap);
  @include css3-prefix(justify-content, flex-start);
  .itemBox{
    width: 400px;
    height: 250px;
    position: relative;
    margin-bottom: 55px;
    margin-right: 20px;
    &.noOne{
      .amount{
        display: none;
      }
    }
    .amount{
      $itemSize: 28px/1.4;
      width: $itemSize;
      height: $itemSize;
      position: absolute;
      top: -$itemSize/2;
      background-color: #479ad4;
      right: - $itemSize/2+2px;
      @include css3-prefix(transform, rotate(-45deg));
      z-index: 10;
      border: 1px solid #ffffff;
      box-shadow: 0 0 0 2px #479ad4;
      span{
        width: 100%;
        height: 100%;
        line-height: $itemSize;
        display: block;
        color: white;
        font-size: 12px;
        @include css3-prefix(transform, rotate(45deg));
        text-align: center;

      }
    }
    /*margin: 20px 2.5% 0 0;*/
    &:last-child{
      margin-right: 0;
    }
    & > * {
      z-index: 2;
      position: relative;
    }
    .itemGradient{
      @include background-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
      opacity: 0;
      transition: opacity 0.5s;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

    }
    .itemBox_name{
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 80px;
      margin: 0 2%;
      background-image: asset_url("namebg.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      font-size: 24px;
      color: white!important;
      padding: 23px 0 0 35px;
      box-sizing: border-box;
      transition: none;
      .long{
        display: block;
        margin: -7px 0 0 -10px;
        position: relative;
        width: 90%;
        font-size: 0.8em;
      }
      &:hover{
        background-position:0 -100px;
      }
    }
    &:nth-child(odd){
      .itemBox_name {
        background-position: 100% 0;
        &:hover{
          background-position:100% -100px;
        }
      }
    }
    .itemBox_price{
      height: 60px;
      width: 154px;
      text-align: right;
      font-size: 24px;
      color: $blueColor;
      position: absolute;
      top: 5%;
      right: 0;
      background-image: asset_url("whitePaint.png");
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 19px 5px 0 0;
    }
    .itemCounter{
      $w: 170px;
      $h: 40px;
      width: $w;
      height: $h;
      left: 50%;
      top: 50%;
      margin-left: -$w/2;
      margin-top: -$h/2;
      opacity: 0;
      position: absolute;
      @include css3-prefix(transition, opacity 0.5s);
    }
    .item-img{
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      background-color: white;
      text-align: center;
      img{
        width: 100%;
        min-height: 100%;
      }
      .portain{
        height: 100%;
        width: auto;
      }
    }
    &:hover{
      .itemCounter{
        opacity: 1;
      }
      .itemGradient{
        opacity: 1;
      }
    }
  }
}
.mobile{
  .itemCounter{
    opacity: 1!important;
  }
  .itemGradient{
    opacity: 1!important;
  }
}
.overlay-item{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.modal-window{
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
  display: none;
  position: fixed;
  z-index: 10001;
}

$minHeight: 200px;
$maxHeight: 500px;
.item-open{
  $w:880px;
  min-height: $minHeight;
  max-height: $maxHeight;
  //max-width: $w;
  display: inline-block;
  background: white;
  //overflow: hidden;
  border-radius: 4px;
}
.item-view{
  @include display-flex;
  max-height: $maxHeight;
  .item-image{
    height: $maxHeight;
    width: 600px;
    text-align: center;
  }
  .bigImg{
    position: relative;
    &.portain{
      height: $maxHeight;
      width: auto!important;
    }
    &.soLong{
      margin: 20px 150px;
      height: $maxHeight - 40px;
    }
  }
  .item-info{
    @include css3-prefix(flex-shrink, 0);
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    background-color: $coffeeColor;
    text-align: center;
    color: #E2E2E2;
    h1, h2{
      color: white;
      width: 100%;
      text-align: center;
      display: block;
    }
    h1{
      font-size: 1.3em;
    }
    .ruble{
      color: $mainColor;
      font-size: 1.3em;
    }
    .measurer{
      margin-right: 15px;
    }
    .description{
      border-top: 2px solid rgba(255,255,255,0.2);
      padding-top: 10px;
      font-size: 0.9em;
      margin-top: 15px;
      color: #CECECE;
    }
  }
}
.close-button{
  $butSize: 40px;
  width: $butSize;
  height: $butSize;
  display: block;
  position: absolute;
  right: -1.5*$butSize;
  top: -0.75*$butSize;
  cursor: pointer;
  i{
    color: white;
    font-size: 30px;
    font-weight: 200;
    transition: color 0.3s;
  }
  &:hover{
    i{
      color: $mainColor;
    }
  }
}