

$w2000: 2000px;
$w1500: 1500px;
$w1200: 1200px;
$w1000: 1000px;
$w700: 700px;
$w500: 500px;
$w400: 400px;




@media screen and (min-width: $w1500) and (max-width: $w2000) {


}

@media screen and (min-width: $w1200) and (max-width: $w1500) {

}


@media screen and (min-width: $w1000) and (max-width: $w1200) {


}
@media screen and (max-width: $w1500) {
  .littleItem{
    $k: 0.7;
    .itemBox {
      width: 400px*$k;
      height: 250px*$k;
      margin-right: 15px;
      &:last-child{
        margin-right: 0;
      }
      .itemBox_name {
        width: 100%;
        height: 80px*$k;
        background-image: asset_url("name-bg-little.png");
        background-repeat: no-repeat;
        font-size: 24px*$k;
        padding: 19px 0 0 35px;
        &:hover {
          background-position: 0 -100px*$k;
        }
      }
      &:nth-child(odd) {
        .itemBox_name {
          background-position: 100% 0;
          &:hover {
            background-position: 100% -100px*$k;
          }
        }
      }
      .itemBox_price {
        height: 60px*$k;
        width: 154px*$k;
        font-size: 24px*$k;
        top: 5%;
        background-image: asset_url("whitePaint.png");
        padding: 14px 5px 0 0;
      }
      .itemCounter {
        $w: 170px;
        $h: 40px;
        width: $w;
        height: $h;
        left: 50%;
        top: 50%;
        margin-left: -$w/2;
        margin-top: -$h/2;
      }
    }
  }
}

@media screen and (max-width: $w1000) {

  .footerContainer{

    margin-left: 20px;
    margin-right: 20px;
  }
}