@import "mixins";
.no-padding{
  padding: 0!important;
}
.no-margin{
  margin: 0!important;
}
.center-box{
  position:relative;
  @include display-flex;
  align-items: center;
  @include css3-prefix(justify-content, center);
  height:100vh;
  @include css3-prefix(flex-wrap, wrap);
}


.relative{
  position: relative;
}


.ruble{
  padding-right: 0.3em;
}
.text-white{
  color: #fff;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.uppercase{
  text-transform: uppercase;
}
$light-color: #d3d3d3;
.light-text{
  color: $light-color;
}
.f-little{
  font-size: 0.7em;
}
.small{
  font-size: 0.5em;
}
.bl-tack{
  color: #494949;
}



.width-100p{
  width: 100%!important;
}
.width-50{
  width: 50px;
}
.flex{
  @include display-flex;
}
.space-between{
  @include css3-prefix(justify-content, space-between);
}
.space-around{
  @include css3-prefix(justify-content, space-around);
}
.flex-center{
  @include css3-prefix(justify-content, center);
}
.flex-end{
  @include css3-prefix(justify-content, flex-end);
}



.overflow-hidden{
  overflow: hidden;
}
.box{
  border-top: 1px solid transparent;
}




.margin-top-10{
  margin-top: 10px;
}
.margin-bottom-10{
  margin-bottom: 10px;
}

.margin-vertical-40{
  margin-top: 40px;
  margin-bottom: 40px;
}
.margin-vertical-07em{
  margin-top: 0.7em;
  margin-bottom: 0.7rem;
}
.margin-vertical-60{
  margin-top: 60px;
  margin-bottom: 60px;
}
