@import "mixins";
@import "variable";
$backC: #dbdbdb;
$fontSize: 80px;
.header-photos{
  @include css3-prefix(justify-content, space-between);
  .photo-box{
    width: 33%;
    margin-right: 10px;
    height: 100%;
    line-height: 305px;
    transition: background-color 0.5s;
    background-color: $backC;
    position: relative;
    .setSize{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: opacity 0.5s;
    }

    &.success{
      i{
        z-index: 100;
        position: relative;
        &::before {
          color: $greenColor;
          content: ""!important;
        }
      }
    }
    &.error{
      i{
        z-index: 100;
        position: relative;
        &::before {
          color: $redColor;
          content: ""!important;
        }
      }
    }
    &:last-child{
      margin-right: 0;
    }
    &.active{
      background-color: darken($backC, 7%);
    }
    &.hover{
      background-color: darken($backC, 15%);
      .setSize{
        opacity: 0.5;
      }
    }
  }
}
.photos-container{
  @include display-flex;
  @include css3-prefix(flex-wrap, wrap);
  min-height: 300px;
  padding: 50px;
  width: 100%;
  @include css3-prefix(justify-content, flex-start);
  box-sizing: border-box;
  $photoW: 190px;
  .photo{
    width: $photoW;
    height: $photoW;
    overflow: hidden;
    display: block;
    margin-right: 10px;
    position: relative;
    transition: width 0.5s;
    margin-bottom: 10px;
    &.dragDone{
    }
    &.draggable{
      z-index: 10;
    }
    .photo-overlay{
      width: 100%;
      height: 100%;
      opacity:0;
      transition: opacity 0.5s, background 0.5s;
      background-color: rgba(219,219,219,0);
      position:absolute;
      z-index: 2;
      top: 0;
      left: 0;
      line-height: $photoW;
    }
    .setSize{
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 0 0;
      background-repeat: no-repeat;
    }
    .delete-link{
      font-size: 26px;
      position: absolute;
      z-index: 5;
      right: 4px;
      top: 4px;
      color: white;
      transition: color 0.3s;
      &:hover{
        color: $redColor;
      }
    }
    &.hover{
      .photo-overlay {
        opacity: 1;
        background-color: rgba(219,219,219,0.3);
      }
    }

    &.dragActive{
      .delete-link{
        display: none;
      }
      .photo-overlay {
        opacity: 1;
        z-index: 20;
        background-color: rgba(219,219,219,0.7);
        i{
          opacity: 0;
        }
      }
    }





    &.add-photo{
      position: relative;
      transition: background-color 0.5s;
      background-color: $backC;
      line-height: $photoW;
      &:hover {
        background-color: darken($backC, 15%);

      }
    }

  }



}
.i-item{
  text-align: center;
  font-size: $fontSize;
  i{
    color: white;
  }
}