@import "mixins";
@import "variable.scss";
html, body{
  font-size:18px;
  min-height: 100%;
  min-width: 1000px;
  font-family: verdana;
}

body{
  background-color: $bg-color;
  color: $text-color;
  background-image: asset_url('bg7.png');
  background-size: 300px;
  background-position: 0 0;
  background-repeat: repeat;
}
body.home{
  min-width: 1260px!important;
}
.main-wrapper{
  overflow: hidden;
}
.main{
  min-height: 75vh;
  margin-bottom: 50px;
  min-width: 1000px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


h1,h2, h3{
  font-weight: 400;
  margin: 0;
}

h1{

  font-size: 36px;
  line-height: 48px;
  color: $mainColor;
}
h2{

  font-size: 20px;
  line-height: 28px;
}

.before-pattern{
  position: relative;
  background-color: white;
  &::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -80px;
    width: 100%;
    height: 80px;
    @include background-gradient(0deg, rgba(255,255,255, 0), rgba(255,255,255,1))
  }
}

.box-title{
  color:  $title-color;
  font-size: 3.5em;
  font-weight: 400;
}
.text-gold{
  color: $gold;
}

.center-wrapper{
  margin: 0 7%;
  width: 86%;

  min-height: 60vh;
}

.form-box{
  width: 400px;
  margin: 0 auto;
}
.hidden{
  display: none!important;
}

.middle-image{
  max-width: 300px;
}
.rule{
  position: relative;
  z-index: 1000;
}


.overlay-page{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  opacity: 0;
  z-index: 100;
}



.colored-bg{
  background-color: $mainColor;
}
.colored-border{
  border-color: $mainColor;
}
.colored-text{
  color: $mainColor;
}

.pay_info{
  background-color: white;
  width: 60%;
  margin: 50px auto;
  box-sizing: border-box;
  padding: 40px;
  h2{
    font-weight: bold;
  }
}