.container{
}
.footerContainer{

  margin-left: 50px;
  margin-right: 50px;
}
.counter{
  button{
  }
  input[type=number]{
    outline: 0 none;
    text-align: center;
    border: none;
    padding: 3px!important;
  }
  .number{
  }
}