$input_font-size: 1.2rem;

@import "variable.scss";
@import "mixins.scss";

input[type=text], input[type=password], input[type=email], textarea{
  background-color: $input-bg_color;
  padding: 0.7rem 0.5rem;
  font-size: $input_font-size;
  border: 1px solid transparent;
  @include border-radius(1px);
  @include box-sizing();
  color:  darken($text-color, 30%);
}
input[type=submit]{

}
.number {
  overflow: hidden;
  margin: 0 4px;
  input[type=number] {
    width: 100%;
    //margin-left: -5px;
    //padding-left: 5px;
  }
}

input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.button {
  border: none;
  outline: none;
  letter-spacing: 1px;
  color: white;
  background-color: $mainColor;
  text-transform: uppercase;
  display: inline-block;
  font-weight: normal;
  max-width: 500px;
  position: relative;
  @include border-radius(2px);
  font-size: 1rem;
  text-align: left;
  padding: 1rem 60px 1rem 1.2rem;
  &:hover{
    cursor: pointer;
    &:after {
      width: 3rem;
      cursor: pointer;
    }
    &:before{
      right: 1rem;
    }
  }
  &:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    width: 45px;
    background-color: $mainColor*1.2;
    transition: width 0.7s;
  }
  &:active{
    &:after {
      width: 55px;
    }
  }
  &:before {
    font-family: 'FontAwesome', sans-serif;
    color: white;
    position: absolute;
    right: 10px;
    font-size: 2rem;
    top: 0;
    z-index: 10;
    line-height: 2rem;
    transition: right 0.7s;
  }
}

.button{
  &.fa-button{
    &:before {
      font-size: 1.2rem;
      line-height: 3.3rem;
    }
  }
}



.button{
  background-color: $mainColor;
  &:after{
    background-color: $mainColor*1.2;
  }
}

.smallButton {
  padding: 0.2rem 0.3rem;
  text-align: center;
  &::after{
    display: none;
  }
  &::before{
    display: none;
  }
}

a {
  text-decoration: none;
  line-height: 1.1em;
  transition: all 0.3s;
  &:not(.no-color):not(.blueLink){
    color: lighten($link-color, 25%);
  }
  &:not(.no-link):not(.blueLink){
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
  }
  &:visited {
    color: #666;
  }

  &:not(.no-color):hover {
    color: $link-color;
    border-color: $link-border-color;
  }
}

.linkButton{
  background-color: $mainColor;
  font-size: 24px;
  color: white !important;
  padding: 15px 50px;
}

.blueLink{
  background-color: $mainColor;
  font-size: 18px;
  color: white!important;
  line-height: 20px;
  padding: 12px;
  transition: background-color 0.5s;
  border: 0;
  &:hover{
    background-color: lighten($mainColor, 15%);
  }
}

.equalBlue{
  display: inline-block;
  background-color: $mainColor;
  font-size: 18px;
  color: white!important;
  line-height: 20px;
  transition: background-color 0.5s;
  border: 0;
  &:hover{
    background-color: lighten($mainColor, 15%);
  }
}

form{
  .actions{
    text-align: right;
    margin-top: 20px;
  }
  .field{
    position: relative;
    margin-top: 40px;
    input[type=text], input[type=password], input[type=email], textarea{
      width: 100%;
    }
    label{
      position: relative;
      z-index: 10;
      color:  darken($text-color, 30%);
      opacity: 1;
      font-size: $input_font-size;
      display: inline-block;
      left: 10px;
      padding-right: 20px;
      margin: 10px 0;
    }
    &.noinput{
      label{
        color: $text-color;
      }
    }

    & > img{
      max-width: 300px;
      max-height: 140px;
      padding: 10px 0;
    }
  }
  &.TopLabelForm{
    &:not(.noinput) {
      label {
        position: absolute;
        top: 0.7em;
        transition: all 0.3s;
        &.topLabel {
          top: -1.5rem;
          color: $text-color;
        }
        &.topLabelNOAnimate {
          top: -1.5rem;
          color: $text-color;
        }
      }
      input:focus {
        & + label {
          color: $text-color;
          top: -1.5rem;
        }
      }
    }
  }
}

.counter{
  button{
    width: 40px;
    height: 40px;
  }
  input[type=number]{
    height: 40px;
    outline: 0 none;
    text-align: center;
    border: none;
  }
  .number{
    width: 80px;
    margin: 0 5px;
    border-radius: 2px;
  }
}

.pageView{
  .topBox{
    .title{

      color:  $white;
      font-size: 3.5rem;
      font-weight: 400;
      position: absolute;
      top: 50%;
      margin-top: -0.5rem;
      text-align: center;
      width: 100%;
      padding: 20px 0;
      box-sizing: border-box;
    }
  }
}
.closePWButton{

}


.devise_links{
  text-align: center;
  margin: 20px 0;
}