$bg-color: /*#2e2f30;*/ #ffffff;

$white: #ffffff;
$greenColor: #3BB677;
$blueColor: #499BD4;
$redColor: #D9113D;
$grassColor: #7CCC12;

$coffeeColor:#31271E;

$gold: #b1986a;


$darkGrey: #414141;
$mainColor: /*$redColor*/ #256693;
$footerColor: $darkGrey;
$asideColor: $darkGrey;

$input-border_color: #c6c6c6;
$input-bg_color: #E5E5E5;
$text-color: #333;
$light-color: #d3d3d3;

$title-color: $text-color;
$link-color: $text-color;
$link-border-color: $mainColor;
