%p
  Здравствуйте, #{@resource.email}!
%p Некто запросил ссылку для смены пароля Вашего аккаунта. Вы можете сделать это, пройдя по следующей ссылке.
%p= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token)
%p В случае, если не Вы запросили ссылку для смены пароля, пожалуйста, проигнорируйте данное письмо.
%p Ваш пароль не изменится до того времени, пока Вы не пройдете по ссылке и не создадите новый.
