%p
  Здравствуйте, #{@resource.email}!
%p Ваш аккаунт был заблокирован из-за подозрительно большого количества неудачных попыток авторизации.
%p Пройдите по следующей ссылка, чтобы разблокировать Ваш аккаунт:
%p= link_to 'Разблокировать аккаунт', unlock_url(@resource, unlock_token: @token)
