@import "mixins";
@import "variable";
$cartSize: 85px/1.4;
.cart-link{
  transition: opacity 0.5s;
  position:fixed;
  display: block;
  top: 50%;
  right: 50px;
  margin-top: -$cartSize/2;
  width: $cartSize;
  height: $cartSize;
  background-color: $darkGrey;
  @include css3-prefix(transform, rotate(-45deg));
  box-sizing: border-box;
  cursor: pointer;
  opacity: 1;
  z-index: 1000;
  &.stop{
    opacity: 0;
  }
  .item-amount{
    $itemSize: 42px/1.4;
    width: $itemSize;
    height: $itemSize;
    position: absolute;
    top: $itemSize/2;
    background-color: #4599d5;
    right: - $itemSize/2;
    span{
      width: 100%;
      height: 100%;
      line-height: $itemSize;
      display: block;
      color: white;
      font-size: 16px;
      @include css3-prefix(transform, rotate(45deg));
      text-align: center;

    }
  }
  i{
    color: white;
    font-size: 30px;
    @include css3-prefix(transform, rotate(45deg));
    margin-left: $cartSize/4;
    margin-top: $cartSize/4;
  }
}



.modal-overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}


$minHeight: 300px;
.cart-open{
  position: relative;
  .table-container{
    min-height: $minHeight;
    background-color: white;
  }
  table{
    width: 100%;
    font-weight: 400;
    font-size:  18px;
    font-family: Arial;
    text-align: center;
    opacity: 0;
    thead{
      background-color: #ececec;
      th{
        padding: 15px 25px;
      }
    }
    tbody{
      td{
        padding: 15px 14px;
        &:first-child{
          padding-right: 0;
        }
        &:last-child{
          width: 185px;
        }
        .sum{
          margin-right: 5px;
        }
        img{
          max-height: 100px;
          max-width: 80px;
        }
      }
    }
    tfoot{
      td {
        padding: 15px 5px;
        text-align: right;
        &:last-child{
          padding: 15px 14px;
          text-align: center;
        }
      }
    }
  }

  .nothing{
    .text{
      vertical-align: middle;
      font-size: 50px;
      text-align: center;
      display: table-cell;
    }
    width: 100%;
    position: absolute;
    height: $minHeight;
    left: 0;
    top: 0;
    display: table;
  }
  .itemRemove{
    cursor: pointer;
    i{
      color: $text-color;
      &:hover{
        color: $redColor;
      }
    }
  }
  .cart-manage{
    margin-top: 8px;
    height: 50px;
    @include display-flex;
    align-items: baseline;
    justify-content: flex-end;
    span, a, button{
      font-size: 14px;
      color: white;
      display: inline-block;
      margin-right: 10px;
      cursor: pointer;
      padding: 12px;
    }
    .back-to-future{
      display: none;
    }
  }
  &.something{
    .nothing{
      opacity: 0;
      display: none;
    }
    .back-to-future{
      display: block;
    }
    table{
      opacity: 1;
    }
  }
}
.cart-open-fixed{
  $w:840px;
  min-height: $minHeight;
  width: $w;
  .table-container{
    min-height: $minHeight;
    background-color: white;
    max-height: 70vh;
    overflow-y: auto;
  }
}
.cart-wrapper{
  width: 900px;
  margin: 70px auto;
  .cart-title{
    margin-bottom: 40px;
  }
}
.black{
  color: $text-color!important;
}

.order-box-all{
  position: relative;
  transition: height 0.5s;
  .order-box{
    left: 0;
    top: 0;
    position: absolute;
    display: none;
    &.detail-box{
    }
    &.pay-box{
      width: 100%;
    }
    .order-send{

    }
  }
}
.details-wrapper{
  padding: 30px;
  background-color: white;
  min-width: 700px;
  @include display-flex;
  margin-bottom: 30px;
  @include css3-prefix(justify-content, space-between);
  @include css3-prefix(flex-direction, column);
  $inputW: 250px;
  $inputH: 40px;
  .field{
    margin-top: 0;
  }
  p{
    font-size: 12px;
  }
  label{
    display: block !important;
    &.have-to-fill{
      position: relative;
      &:after{
        display: block;
        content: "*";
        color: $redColor;
        position: absolute;
        top: 0;
        left: -15px;
      }
    }
  }
  input, textarea{
    background-color: transparent;
    border: 1px solid $text-color;
    font-size: 18px;
    padding: 5px;
    &.error{
      margin-bottom: 23px;
    }
  }
  .valid ~ .error-box{
    display: none;
  }
  .error-box{
    width: 500px;
    position: absolute;
    font-size: 12px;
    text-align: left;
    color: $redColor;
    left: 0;
    bottom: 0;
  }
  .mandatory{
    text-align: right;
    font-size: 12px;
    span{
      color: $redColor;
    }
  }
  .details-main{
    @include display-flex;
    @include css3-prefix(justify-content, space-between);
    input[type=text]{
      width: $inputW !important;
      height: $inputH;
    }
    .details-column{
      .address-block{
        @include display-flex;
        @include css3-prefix(justify-content, space-between);
        input[type=text]{
          width: 0.48*$inputW !important;
          height: $inputH;
        }
      }
    }
  }
  .details-comment{
    @include display-flex;
    @include css3-prefix(justify-content, space-between);
    position: relative;
    textarea{
      width: 1.7*$inputW;
      height: 3*$inputH;
    }
    .actions{
      position:absolute;
      right: 0;
      bottom: 0;
    }
  }
}
.back-step{
  padding: 12px 20px;
}
.pay-buttons-panel{
  width: 100%;
  @include display-flex;
  @include css3-prefix(justify-content, space-around);
  position: relative;
  .pay-way-wrap{
    $paySize: 285px;
    width: $paySize;
    height: 300px;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    padding-top: 45px;
    position: relative;
    .pay-way-container{

      position: relative;
    }
    .pay-way-space, .loading-overlay{
      $payImgSize: 110px;
      align-content: center;
      display: inline-block;
      box-sizing: border-box;
      padding: 30px;
      transition: background-color 0.5s;
      border: 2px solid #5fd4af;
      background-color: transparent;
      border-radius: 50%;
      position: relative;
      .img{
        width: $payImgSize;
        height: $payImgSize;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        &.credit{
          background-image: asset_url("card.png");
        }
        &.wallet{
          background-image: asset_url("cash.png");
        }
        &.loading{
          background-image: asset_url("rolling.gif");
        }
        &.return{
          background-image: asset_url("arrows.png");
        }
      }
    }
    .loading-overlay{
      opacity: 0;
      transition: opacity 0.2s;
      z-index: 100;
      position: absolute;
      left: 50%;
      top: 0;
      background-color: white;
      @include css3-prefix(transform, translateX(-50%));
    }
    &.active-way{
      .loading-overlay{
        opacity: 1!important;
      }
    }
    &:hover{
      .pay-way-space{
        background-color: #5fd4af;
      }
    }
  }
  p{
    margin: 0;
    margin-top: 20px;
  }
}
.box-active{
  display: block!important;
}

.thanks-box{
  padding: 20px;
  background-color: white;
  .thanks-text{
    padding: 10px;
  }
}

.icon_box{
  margin-top: 20px;
}