@import 'variable';
@import "mixins";
.middle-wrapper{
  @include display-flex;
  width: 100%;
  margin-top: 70px;
  $asideWidth:290px;
  .aside{
    @include css3-prefix(flex-basis, $asideWidth+100);
    @include css3-prefix(flex-shrink, 1);
    margin-right: 50px;
    position:relative;
    z-index: 100;
    .aside-container{
      width:$asideWidth;
      height: 100%;
      box-sizing: border-box;
      padding-top: 60px;
    }
    .aside-scroll{
      top: 0;

      &.fixed{
        position: fixed;
      }
    }
    .aside-nav{
      width: $asideWidth;
      box-sizing: border-box;
      padding: 35px 0 35px 30px;
      background-color: $asideColor;
      list-style-type: none;
      margin: 0;
      li{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.45px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding-right: 30px;
        color: white;
        a{
          color: white;
          &:hover, &.active{
            color: #58bbff;
          }
        }
        .invisible{
          $t:10px;
          position: absolute;
          right: -150px;
          top: -$t;
          display: block;
          list-style-type: none;
          background-color: $asideColor;
          padding-top: $t;
          padding-bottom: $t;
          box-sizing: border-box;
        }
        .subcat{
          padding-left: 15px;
          padding-bottom: 5px;
          padding-top: 5px;
          box-sizing: border-box;
          display: block;
          list-style-type: none;
          li{
            margin-bottom: 0;
          }
          a{
            font-size: 0.8em;
          }
        }
      }
    }
    .shopContacts{
      width: 100%;
      box-sizing: border-box;
      margin-top: 35px;
      padding-left: 25px;
      span{
        font-size: 14px;
      }
    }
  }
  .container{
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    .category-name{
      color: #1a537b;
      font-size: 36px;
      font-weight: 400;
      margin-left: 60px;
      margin-top: 5px;
      margin-bottom: 15px;
      &:first-child{
        margin-top: 0px;
      }
    }
  }
}