.itemCounter.counter.counterjs.flex
  %button.button.smallButton.countDown
    %i.fa.fa-minus
  %span.number
    %input(type="number" min="0" max="100" step="1" value="#{counter}")
  %button.button.smallButton.countUp
    %i.fa.fa-plus