.itemCounter.counter.counterAmount.flex
  %button.button.smallButton.countDown
    %i.fa.fa-minus
  %span.number
    %input(type="number" min="1" max="100" step="1" value="#{counterAmount}" data-value=counterAmount)
  %button.button.smallButton.countUp
    %i.fa.fa-plus