- if !@shop.blank?
  - shop = @shop
.header.before-pattern
  .logoContainer
    - if shop
      %a.no-link.shopLogo(href= '#{se_shop.shop_path(@shop)}')
        %img{:src => shop.logo_url}
    -else
      %a.no-link.shopLogo(href= '#{root_path}')
        %img{:src => asset_path("diner.png")}
  %ul.mainNav
    %li= link_to "Главная", main_app.root_path, :class => 'no-link'
    - if shop
      %li= link_to "Меню", se_shop.shop_path(shop), :class => 'no-link'
    - else
      %li= link_to "Меню", root_path, :class => 'no-link'
    %li= link_to "Контакты", main_app.contacts_path, :class => 'no-link'
    %li= link_to "Корзина", se_shop.order_index_path, :class => 'no-link'
