- if !@shop.blank?
  - shop = @shop
.itemBox.noOne{:id => 'item'+item.id.to_s}
  .amount
    %span 0
  %a.no-link.itemBox_name{:href => "#{se_shop.shop_item_path(shop, item)}", :data => {:remote => true}}
    -if item.name.length > 20
      %span.long= item.name
    -else
      %span= item.name
  .itemBox_price
    %span.ruble
      #{item.price.to_i}
      %i.fa.fa-rub
  - if counter
    =render partial: "se_shop/layouts/counter", object: 0
  %a.itemGradient.no-link{:href => "#{se_shop.shop_item_path(shop, item)}", :data => {:remote => true}}
  .item-img
    - if item.image?
      %img.setSize(data-bg="#{item.image_url}" data-size="3" data-setimage="true" alt ="#{item.name}" )
    -else
      %img{:src => asset_url('no-photo.jpg')}