-if @shop.blank?
  -@shop = @main_shop
- if @shop
  .footer
    .toTop.fa.fa-angle-double-up
    .footerContainer.flex
      .severLink
        %a{:href => 'http://sever.one', :class => "no-link"}
          %img{:src => asset_url('sever.png')}
      .navLinks
        = link_to "Главная", main_app.root_path, :class => 'no-link'
        /*= link_to "Меню", se_shop.category_index_path, :class => 'no-link'*/
        = link_to "Контакты", main_app.contacts_path, class: 'no-link'
        - if @shop
          = link_to "Меню", se_shop.shop_path(@shop), class: 'no-link'
        - else
          = link_to "Меню", root_path, :class => 'no-link'
        = link_to "Платежи", main_app.pay_info_path, :class => 'no-link'
      .contactContainer
        -if @shop.phone.present?
          .phoneSpace
            %span.small-text= get_code(@shop.phone)
            %span= get_phone(@shop.phone)
        -if @shop.address.present?
          .addressSpace.address= @shop.address
        -if @shop.email.present?
          .addressSpace.email= @shop.email
        .socialBlock
          -if @shop.vklink
            .socialLink.vklink
              %a{:href => "http://#{@shop.vklink}", class: "no-link", :target => "_blank"}= @shop.vklink
          -if @shop.Instalink
            .socialLink.instalink
              %a{:href => "http://#{@shop.Instalink}", class: "no-link", :target => "_blank"}= @shop.Instalink
      .paysto
        %a.no-link.no-color{:href => "http://paysto.ru/fromshop=22872", :target => "_blank"}Совместно с PAYSTO
