!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Daily Diner"
    = stylesheet_link_tag "application", :media => "all"
    -if browser.device.tablet?
      = stylesheet_link_tag "tablet", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = display_meta_tags
    - if browser.device.mobile?
      %meta(name="viewport" content="initial-scale=0.5, maximum-scale=0.5, user-scalable=yes")
    - elsif browser.device.tablet?
      %meta(name="viewport" content="initial-scale=0.8, maximum-scale=0.8, user-scalable=yes")
    - else
      %meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes")


  - if content_for(:bg).present?
    - bg = "background-image:url(#{content_for(:bg)})"
  %body{:style => "#{bg}", :class => "#{browser.device.mobile? || browser.device.tablet? ? 'mobile' : 'desktop'} #{params[:controller]} #{Rails.env}"}
    - flash.each do |key, value|
      %div{:class => "alert alert-#{key}"}= value
    .main
      = yield
    = render 'layouts/footer'
    - if Rails.env.production?
      = render 'layouts/metrika'
